Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f --dialect bigquery",
    "poetry run sqlfluff lint --dialect bigquery"
  ]
}

break new project tables into tabs
  apps/docs/blog/2024-04-24-octant-epoch-03-ecosystem-analysis.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add tabs import
  apps/docs/blog/2024-04-24-octant-epoch-03-ecosystem-analysis.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add returning projects tabbed table
  apps/docs/blog/2024-04-24-octant-epoch-03-ecosystem-analysis.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

some copy edits to octant blog
  apps/docs/blog/2024-04-24-octant-epoch-03-ecosystem-analysis.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

blog: add analysis for octant epoch 3 (#1301)
  apps/docs/blog/2024-04-24-octant-epoch-03-ecosystem-analysis.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: lens staging models
  warehouse/dbt/models/lens_sources.yml
  warehouse/dbt/models/staging/lens/stg_lens__owners.sql
  warehouse/dbt/models/staging/lens/stg_lens__profiles.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: lens staging models (#1319)
  warehouse/dbt/models/lens_sources.yml
  warehouse/dbt/models/staging/lens/stg_lens__owners.sql
  warehouse/dbt/models/staging/lens/stg_lens__profiles.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

feat: farcaster staging models
  warehouse/dbt/models/farcaster_sources.yml
  warehouse/dbt/models/staging/farcaster/stg_farcaster__addresses.sql
  warehouse/dbt/models/staging/farcaster/stg_farcaster__profiles.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

feat: farcaster staging models (#1320)
  warehouse/dbt/models/farcaster_sources.yml
  warehouse/dbt/models/staging/farcaster/stg_farcaster__addresses.sql
  warehouse/dbt/models/staging/farcaster/stg_farcaster__profiles.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

many goldsky changes
  warehouse/oso_dagster/__init__.py
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/goldsky.py
  warehouse/oso_dagster/goldsky_dask.py
Due: none

ensure working goldsky asset
  .dockerignore
  docker/cloudquery-ts-base.Dockerfile
  ops/tf-modules/warehouse-cluster/main.tf
  poetry.lock
  pyproject.toml
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/goldsky.py
Due: none

clean up
  warehouse/oso_dagster/cbt/__init__.py
  warehouse/oso_dagster/goldsky.py
  warehouse/oso_dagster/goldsky_dask.py
  warehouse/oso_dagster/models/dedupe.sql
Due: none

Goldsky asset ingest (#1321)
  .dockerignore
  docker/cloudquery-ts-base.Dockerfile
  ops/tf-modules/warehouse-cluster/main.tf
  poetry.lock
  pyproject.toml
  warehouse/oso_dagster/__init__.py
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/cbt/__init__.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/goldsky.py
  warehouse/oso_dagster/goldsky_dask.py
  warehouse/oso_dagster/models/dedupe.sql
Due: none

fix: onchain_metrics renaming
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_collection_v1.sql
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: onchain_metrics renaming (#1333)
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_collection_v1.sql
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

docs: add dbt style guide
  apps/docs/docs/how-oso-works/mission.md
  apps/docs/docs/how-oso-works/style-guide.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: update the column names in code_metrics
  README.md
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_collection_v1.sql
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_project_v1.sql
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: update the column names in code_metrics (#1332)
  README.md
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_collection_v1.sql
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_project_v1.sql
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

docs: add dbt style guide (#1334)
  apps/docs/docs/how-oso-works/mission.md
  apps/docs/docs/how-oso-works/style-guide.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: make ~/.dbt if missing in oso_lets_go
  warehouse/oso_lets_go/wizard.py
Due: none

fix: make ~/.dbt if missing in oso_lets_go (#1336)
  warehouse/oso_lets_go/wizard.py
Due: none

fix: add _v1 versioning to artifacts/projects/collections models
  apps/docs/blog/2024-03-20-request-for-impact-metrics/index.md
  apps/docs/docs/contribute/impact-models.md
  apps/docs/docs/integrate/api.md
  apps/docs/docs/integrate/data-science.md
  apps/frontend/app/project/[...slug]/page.tsx
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_collection_v1.sql
  warehouse/dbt/models/marts/directory/artifacts_by_project.sql
  warehouse/dbt/models/marts/directory/artifacts_v1.sql
  warehouse/dbt/models/marts/directory/collections_v1.sql
  warehouse/dbt/models/marts/directory/projects_by_collection.sql
  warehouse/dbt/models/marts/directory/projects_v1.sql
  warehouse/dbt/models/marts/directory/repos_by_project.sql
  warehouse/dbt/models/marts/events/event_indexing_status_by_project.sql
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_collection_v1.sql
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v1.sql
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v2.sql
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: add `_v1` versioning to artifacts/projects/collections models (#1337)
  apps/docs/blog/2024-03-20-request-for-impact-metrics/index.md
  apps/docs/docs/contribute/impact-models.md
  apps/docs/docs/integrate/api.md
  apps/docs/docs/integrate/data-science.md
  apps/frontend/app/project/[...slug]/page.tsx
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_collection_v1.sql
  warehouse/dbt/models/marts/directory/artifacts_by_project.sql
  warehouse/dbt/models/marts/directory/artifacts_v1.sql
  warehouse/dbt/models/marts/directory/collections_v1.sql
  warehouse/dbt/models/marts/directory/projects_by_collection.sql
  warehouse/dbt/models/marts/directory/projects_v1.sql
  warehouse/dbt/models/marts/directory/repos_by_project.sql
  warehouse/dbt/models/marts/events/event_indexing_status_by_project.sql
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_collection_v1.sql
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v1.sql
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v2.sql
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: Add _v1 to artifacts_by_project and projects_by_collection
  warehouse/dbt/models/intermediate/directory/int_projects_by_collection.sql
  warehouse/dbt/models/marts/directory/artifacts_by_project_v1.sql
  warehouse/dbt/models/marts/directory/collections_v1.sql
  warehouse/dbt/models/marts/directory/deployers_by_project.sql
  warehouse/dbt/models/marts/directory/projects_by_collection_v1.sql
  warehouse/dbt/models/marts/directory/projects_v1.sql
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v2.sql
  warehouse/dbt/models/marts/project_metrics/beta/pm_contracts_deployed.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: Add _v1 to artifacts_by_project and projects_by_collection (#1339)
  warehouse/dbt/models/intermediate/directory/int_projects_by_collection.sql
  warehouse/dbt/models/marts/directory/artifacts_by_project_v1.sql
  warehouse/dbt/models/marts/directory/collections_v1.sql
  warehouse/dbt/models/marts/directory/deployers_by_project.sql
  warehouse/dbt/models/marts/directory/projects_by_collection_v1.sql
  warehouse/dbt/models/marts/directory/projects_v1.sql
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v2.sql
  warehouse/dbt/models/marts/project_metrics/beta/pm_contracts_deployed.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: rename event_types, event_indexing_status, first_contribution, last_contribution
  apps/docs/docs/how-oso-works/impact-metrics/index.mdx
  warehouse/dbt/models/marts/events/event_indexing_status_by_project_v1.sql
  warehouse/dbt/models/marts/events/event_types_v1.sql
  warehouse/dbt/models/marts/events/first_contribution_to_project_v1.sql
  warehouse/dbt/models/marts/events/last_contribution_to_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Fix links to edit on GH
  apps/docs/docusaurus.config.ts
Due: none

docs: more to style guide, fix editUrl
  apps/docs/docs/how-oso-works/style-guide.md
  apps/docs/docusaurus.config.ts
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: rename event_types, event_indexing_status, first_contribution, (#1340)
  apps/docs/docs/how-oso-works/impact-metrics/index.mdx
  warehouse/dbt/models/marts/events/event_indexing_status_by_project_v1.sql
  warehouse/dbt/models/marts/events/event_types_v1.sql
  warehouse/dbt/models/marts/events/first_contribution_to_project_v1.sql
  warehouse/dbt/models/marts/events/last_contribution_to_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

docs: more to style guide (#1341)
  apps/docs/docs/how-oso-works/style-guide.md
  apps/docs/docusaurus.config.ts
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Various fixes for dagster deduping
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/cbt/__init__.py
  warehouse/oso_dagster/cbt/bq.py
  warehouse/oso_dagster/common.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/__init__.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/gcs.py
  warehouse/oso_dagster/goldsky.py
  warehouse/oso_dagster/goldsky_dask.py
  warehouse/oso_dagster/models/dedupe.sql
  warehouse/oso_dagster/models/optimism_dedupe.sql
Due: none

save for tests
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/goldsky.py
  warehouse/oso_dagster/models/dedupe.sql
Due: none

refactor: move models from mart to int level
  warehouse/dbt/models/intermediate/directory/deployers_by_project.sql
  warehouse/dbt/models/intermediate/directory/repos_by_project.sql
  warehouse/dbt/models/intermediate/project_metrics/beta/busfactor_by_project.sql
  warehouse/dbt/models/intermediate/project_metrics/beta/pm_contracts_deployed.sql
  warehouse/dbt/models/intermediate/project_metrics/beta/pm_trusted_transactions.sql
  warehouse/dbt/models/intermediate/project_metrics/live/address_totals_by_project.sql
  warehouse/dbt/models/intermediate/project_metrics/live/event_totals_by_project.sql
  warehouse/dbt/models/intermediate/project_metrics/live/pm_contributors.sql
  warehouse/dbt/models/intermediate/project_metrics/live/pm_dev_months.sql
  warehouse/dbt/models/intermediate/project_metrics/live/pm_new_contribs.sql
  warehouse/dbt/models/intermediate/users/active_addresses_daily_to_project.sql
  warehouse/dbt/models/intermediate/users/active_addresses_monthly_to_project.sql
  warehouse/dbt/models/intermediate/users/active_devs_monthly_to_collection.sql
  warehouse/dbt/models/intermediate/users/active_devs_monthly_to_project.sql
  warehouse/dbt/models/intermediate/users/address_rfm_segments_by_project.sql
  warehouse/dbt/models/intermediate/users/first_contribution_to_project.sql
  warehouse/dbt/models/intermediate/users/last_contribution_to_project.sql
  warehouse/dbt/models/intermediate/users/users.sql
  warehouse/dbt/models/intermediate/users/users_monthly_to_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Dedupe logic working with base
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/cbt/__init__.py
  warehouse/oso_dagster/cbt/bq.py
  warehouse/oso_dagster/cbt/operations/_cbt_append.sql
  warehouse/oso_dagster/cbt/operations/_cbt_merge.sql
  warehouse/oso_dagster/cbt/operations/_cbt_replace.sql
  warehouse/oso_dagster/goldsky.py
  warehouse/oso_dagster/models/dedupe.sql
  warehouse/oso_dagster/models/goldsky_dedupe.sql
  warehouse/oso_dagster/models/goldsky_merge_workers.sql
  warehouse/oso_dagster/models/optimism_dedupe.sql
Due: none

refactor: repos by project as int model
  warehouse/dbt/models/intermediate/directory/deployers_by_project.sql
  warehouse/dbt/models/intermediate/directory/int_repos_by_project.sql
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Goldsky Deduping Logic (#1343)
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/cbt/__init__.py
  warehouse/oso_dagster/cbt/bq.py
  warehouse/oso_dagster/cbt/operations/_cbt_append.sql
  warehouse/oso_dagster/cbt/operations/_cbt_merge.sql
  warehouse/oso_dagster/cbt/operations/_cbt_replace.sql
  warehouse/oso_dagster/common.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/__init__.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/gcs.py
  warehouse/oso_dagster/goldsky.py
  warehouse/oso_dagster/goldsky_dask.py
  warehouse/oso_dagster/models/dedupe.sql
  warehouse/oso_dagster/models/goldsky_dedupe.sql
  warehouse/oso_dagster/models/goldsky_merge_workers.sql
  warehouse/oso_dagster/models/optimism_dedupe.sql
Due: none

Goldsky: handle clean up properly
  warehouse/oso_dagster/goldsky.py
Due: none

Goldsky handling bug: Fixes handling cleaned working tables (#1346)
  warehouse/oso_dagster/goldsky.py
Due: none
