Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: broken links
  apps/docs/docs/how-oso-works/index.mdx
  apps/docs/docusaurus.config.ts
  apps/docs/src/pages/index.mdx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

docs: update docs homepage
  apps/docs/src/pages/index.mdx
Due: none

docs: integrate category index
  apps/docs/docs/integrate/index.mdx
Due: none

Docs refactor router (#1025)
  apps/docs/docs/contribute/impact-models.md
  apps/docs/docs/get-started/gcp_admin.png
  apps/docs/docs/get-started/gcp_billing.png
  apps/docs/docs/get-started/gcp_console.png
  apps/docs/docs/get-started/gcp_query.png
  apps/docs/docs/get-started/gcp_signup.png
  apps/docs/docs/get-started/gcp_welcome.png
  apps/docs/docs/get-started/generate-api-key.png
  apps/docs/docs/get-started/index.mdx
  apps/docs/docs/how-oso-works/_category_.json
  apps/docs/docs/how-oso-works/index.mdx
  apps/docs/docs/index.md
  apps/docs/docs/index.mdx
  apps/docs/docs/integrate/data-science.md
  apps/docs/docs/integrate/index.mdx
  apps/docs/docs/subscribe.mdx
  apps/docs/docusaurus.config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

docs: dark mode connects to Plasmic
  apps/docs/docs/index.mdx
  apps/docs/package.json
  apps/docs/plasmic.json
  apps/docs/src/components/plasmic/Overview.tsx
  apps/docs/src/components/plasmic/plasmic-tokens.theo.json
  apps/docs/src/pages/index.mdx
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix "find" for the cloudquery plugins
  .github/scripts/publish-cloudquery-plugins.sh
Due: none

Fix cloudquery plugin build (#1028)
  .github/scripts/publish-cloudquery-plugins.sh
Due: none

docs: dark mode Plasmic partial progress (#1027)
  apps/docs/docs/index.mdx
  apps/docs/package.json
  apps/docs/plasmic.json
  apps/docs/src/components/plasmic/Overview.tsx
  apps/docs/src/components/plasmic/plasmic-tokens.theo.json
  apps/docs/src/pages/index.mdx
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Update getting started
  apps/docs/docs/contribute/impact-models.md
  apps/docs/docs/get-started/index.mdx
Due: prettier --write

fix links
  apps/docs/docs/contribute/impact-models.md
Due: prettier --write

fix link
  apps/docs/docs/contribute/impact-models.md
Due: prettier --write

Update getting started (#1029)
  apps/docs/docs/contribute/impact-models.md
  apps/docs/docs/get-started/index.mdx
Due: prettier --write

close admonition
  apps/docs/docs/get-started/index.mdx
Due: none

close admonition (#1036)
  apps/docs/docs/get-started/index.mdx
Due: none

docs: dark mode fiddling
  apps/docs/.gitignore
  apps/docs/docs/index.mdx
  apps/docs/plasmic.lock
  apps/docs/src/components/plasmic/Overview.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

docs: dark mode fiddling (#1038)
  apps/docs/.gitignore
  apps/docs/docs/index.mdx
  apps/docs/plasmic.lock
  apps/docs/src/components/plasmic/Overview.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Cloudquery prefix is interfering with correct naming
  .github/scripts/publish-cloudquery-plugins.sh
Due: none

Cloudquery prefix is interfering with correct naming (#1040)
  .github/scripts/publish-cloudquery-plugins.sh
Due: none

fixes docker reference to warehouse code
  docker/cloudquery-ts.Dockerfile
Due: none

fixes docker reference to warehouse code (#1041)
  docker/cloudquery-ts.Dockerfile
Due: none

docs: add example to graphql api
  apps/docs/docs/integrate/api.md
Due: prettier --write

docs: update data science guide
  apps/docs/docs/integrate/data-science.md
  apps/docs/docs/integrate/jupyter.png
Due: prettier --write

Docs: make it easier to get up and running for data science (#1042)
  apps/docs/docs/integrate/api.md
  apps/docs/docs/integrate/data-science.md
  apps/docs/docs/integrate/jupyter.png
Due: prettier --write

blog: request for impact metrics
  apps/docs/blog/2024-03-12-impact-data-scientists.mdx
  apps/docs/blog/2024-03-13-request-for-impact-metrics.md
Due: prettier --write

Initial meltano tests. Testing CDC
  .github/workflows/test-meltano-pipeline.yml
  warehouse/meltano-setup/.gitignore
  warehouse/meltano-setup/README.md
  warehouse/meltano-setup/analyze/.gitkeep
  warehouse/meltano-setup/extract/.gitkeep
  warehouse/meltano-setup/load/.gitkeep
  warehouse/meltano-setup/meltano.yml
  warehouse/meltano-setup/notebook/.gitkeep
  warehouse/meltano-setup/orchestrate/.gitkeep
  warehouse/meltano-setup/output/.gitignore
  warehouse/meltano-setup/plugins/extractors/tap-airbyte-wrapper--meltanolabs.lock
  warehouse/meltano-setup/plugins/extractors/tap-github--meltanolabs.lock
  warehouse/meltano-setup/plugins/extractors/tap-postgres--airbyte.lock
  warehouse/meltano-setup/plugins/loaders/target-jsonl--andyh1203.lock
  warehouse/meltano-setup/pyproject.toml
  warehouse/meltano-setup/transform/.gitkeep
Due: prettier --write

fix
  .github/workflows/test-meltano-pipeline.yml
Due: none

Meltano testing (#1056)
  .github/workflows/test-meltano-pipeline.yml
  warehouse/meltano-setup/.gitignore
  warehouse/meltano-setup/README.md
  warehouse/meltano-setup/analyze/.gitkeep
  warehouse/meltano-setup/extract/.gitkeep
  warehouse/meltano-setup/load/.gitkeep
  warehouse/meltano-setup/meltano.yml
  warehouse/meltano-setup/notebook/.gitkeep
  warehouse/meltano-setup/orchestrate/.gitkeep
  warehouse/meltano-setup/output/.gitignore
  warehouse/meltano-setup/plugins/extractors/tap-airbyte-wrapper--meltanolabs.lock
  warehouse/meltano-setup/plugins/extractors/tap-github--meltanolabs.lock
  warehouse/meltano-setup/plugins/extractors/tap-postgres--airbyte.lock
  warehouse/meltano-setup/plugins/loaders/target-jsonl--andyh1203.lock
  warehouse/meltano-setup/pyproject.toml
  warehouse/meltano-setup/transform/.gitkeep
Due: prettier --write

fix: Algolia search works again
  apps/frontend/.env.local.example
  apps/frontend/components/widgets/algolia.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: Algolia search works again (#1060)
  apps/frontend/.env.local.example
  apps/frontend/components/widgets/algolia.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: remove API endpoints to get all projects and artifacts
  apps/frontend/app/api/artifacts/route.ts
  apps/frontend/app/api/projects/route.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: remove API endpoints to get all projects and artifacts (#1061)
  apps/frontend/app/api/artifacts/route.ts
  apps/frontend/app/api/projects/route.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: adjust api auth route
  apps/frontend/app/api/auth/route.ts
  apps/frontend/package.json
  apps/hasura/metadata/api_limits.yaml
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: adjust api auth route (#1062)
  apps/frontend/app/api/auth/route.ts
  apps/frontend/package.json
  apps/hasura/metadata/api_limits.yaml
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

test
  .github/workflows/test-meltano-pipeline.yml
Due: none

finally working locally with docker user issues
  warehouse/meltano-setup/README.md
  warehouse/meltano-setup/meltano.yml
Due: prettier --write

Got some basic instructions that need refinement.
  warehouse/meltano-setup/README.md
  warehouse/meltano-setup/pyproject.toml
Due: prettier --write

Meltano CDC Sync Working (#1063)
  .github/workflows/test-meltano-pipeline.yml
  warehouse/meltano-setup/README.md
  warehouse/meltano-setup/meltano.yml
  warehouse/meltano-setup/pyproject.toml
Due: prettier --write

feat: use OSO API keys in our own app
  .github/workflows/ci-default.yml
  apps/frontend/.env.local.example
  apps/frontend/codegen.ts
  apps/frontend/lib/clients/apollo.ts
  apps/frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: use OSO API keys in our own app (#1065)
  .github/workflows/ci-default.yml
  apps/frontend/.env.local.example
  apps/frontend/codegen.ts
  apps/frontend/lib/clients/apollo.ts
  apps/frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Path conditions:
  eslint --ignore-path .gitignore --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
