Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: frontend
  apps/frontend/lib/graphql/queries.ts
  apps/hasura/metadata/api_limits.yaml
Due: none

fix: frontend (#1284)
  apps/frontend/lib/graphql/queries.ts
  apps/hasura/metadata/api_limits.yaml
Due: none

feat: lens staging data
  warehouse/dbt/models/lens_sources.yml
  warehouse/dbt/models/staging/lens/stg_lens__profiles.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: add a log statement when using developer key
  apps/frontend/app/api/auth/route.ts
Due: none

fix: broken link
  apps/docs/docs/how-oso-works/index.mdx
Due: none

feat: lens staging data (#1273)
  warehouse/dbt/models/lens_sources.yml
  warehouse/dbt/models/staging/lens/stg_lens__profiles.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: broken link (#1275)
  apps/docs/docs/how-oso-works/index.mdx
Due: none

fix: add a log statement when using developer key (#1287)
  apps/frontend/app/api/auth/route.ts
Due: none

dbt: metrics columns explicit
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v2.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Initial setup of dagster with Karma3 (#1274)
  warehouse/oso_dagster/__init__.py
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/schedules.py
Due: none

test
  poetry.lock
  pyproject.toml
  warehouse/oso_dagster/__init__.py
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/goldsky.py
Due: none

More goldsky updates
  warehouse/oso_dagster/__init__.py
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/common.py
  warehouse/oso_dagster/goldsky.py
Due: none

try multiproc
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/goldsky.py
Due: none

multiproc: fix
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/goldsky.py
Due: none

disable progress bar
  warehouse/oso_dagster/goldsky.py
Due: none

remove unnecessary logs
  warehouse/oso_dagster/goldsky.py
Due: none

Goldsky Dagster Integration: Basic Dedupe (#1292)
  poetry.lock
  pyproject.toml
  warehouse/oso_dagster/__init__.py
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/common.py
  warehouse/oso_dagster/goldsky.py
Due: none

Added missing import for dagster asset
  warehouse/oso_dagster/goldsky.py
Due: none

Dagster Fix: Missing import (#1297)
  warehouse/oso_dagster/goldsky.py
Due: none

Write stdout as a message into the PR
  ops/external-prs/src/oso/deploy.ts
Due: none

Fixes cleaning of external-prs
  .github/workflows/test-deploy-clean.yml
Due: none

Various external-pr fixes (#1299)
  .github/workflows/test-deploy-clean.yml
  ops/external-prs/src/oso/deploy.ts
Due: none

draft: octant epoch 3 ecosystem analysis
  apps/docs/blog/2024-04-24-octant-epoch-03-ecosystem-analysis.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: external PRs build
  .github/workflows/ci-default.yml
  .github/workflows/refresh-test-credentials.yml
  apps/docs/.env.example
  apps/docs/.env.local.example
  apps/docs/docusaurus.config.ts
  apps/docs/plasmic.lock
  apps/docs/src/components/plasmic/Overview.tsx
  apps/docs/src/config.ts
  apps/frontend/.env.local.example
  apps/frontend/lib/config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: external PRs build (#1303)
  .github/workflows/ci-default.yml
  .github/workflows/refresh-test-credentials.yml
  apps/docs/.env.example
  apps/docs/.env.local.example
  apps/docs/docusaurus.config.ts
  apps/docs/plasmic.lock
  apps/docs/src/components/plasmic/Overview.tsx
  apps/docs/src/config.ts
  apps/frontend/.env.local.example
  apps/frontend/lib/config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: update to node 20, pnpm 9
  .github/workflows/deploy-hasura.yml
  .github/workflows/setup-external-pr-tools/action.yml
Due: none

fix: update to node 20, pnpm 9 (#1305)
  .github/workflows/deploy-hasura.yml
  .github/workflows/setup-external-pr-tools/action.yml
Due: none

Fix link
  apps/docs/docs/how-oso-works/oss-directory/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fix missing link
  README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fix link (#1295)
  apps/docs/docs/how-oso-works/oss-directory/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fix missing link in dbt Start (#1289)
  README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Add warehouse cluster tf
  ops/tf-modules/warehouse-cluster/README.md
  ops/tf-modules/warehouse-cluster/main.tf
  ops/tf-modules/warehouse-cluster/output.tf
  ops/tf-modules/warehouse-cluster/variables.tf
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

PR comments should be edited as opposed to endlessly generated
  .github/workflows/ci-default.yml
  ops/external-prs/src/base.ts
  ops/external-prs/src/cli.ts
  ops/external-prs/src/github.ts
  ops/external-prs/src/oso/deploy.ts
  ops/external-prs/src/oso/index.ts
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/messages/list-changes.md
  ops/external-prs/src/ossd/messages/validation-errors.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

remove unnecessary var
  ops/external-prs/src/github.ts
Due: none

Add warehouse cluster tf (#1306)
  ops/tf-modules/warehouse-cluster/README.md
  ops/tf-modules/warehouse-cluster/main.tf
  ops/tf-modules/warehouse-cluster/output.tf
  ops/tf-modules/warehouse-cluster/variables.tf
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

don't use terminal colors
  ops/external-prs/src/oso/deploy.ts
Due: none

External-PRs comment updates a single comment (#1307)
  .github/workflows/ci-default.yml
  ops/external-prs/src/base.ts
  ops/external-prs/src/cli.ts
  ops/external-prs/src/github.ts
  ops/external-prs/src/oso/deploy.ts
  ops/external-prs/src/oso/index.ts
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/messages/list-changes.md
  ops/external-prs/src/ossd/messages/validation-errors.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fix cloudquery build
  docker/cloudquery-ts-base.Dockerfile
Due: none

Fix cloudquery build (#1308)
  docker/cloudquery-ts-base.Dockerfile
Due: none

add tables to blog post
  apps/docs/blog/2024-04-24-octant-epoch-03-ecosystem-analysis.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run sqlfluff fix -f --dialect bigquery: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint --dialect bigquery: any of: warehouse/dbt/**/*.sql
