Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --write"
  ],
  "**/*.{md,json}": [
    "prettier --write"
  ]
}

fix issues with commits collection on update
  indexer/src/recorder/recorder.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Various fixes so this continously runs
  indexer/src/actions/github/fetch/common.ts
  indexer/src/cli.ts
  indexer/src/db/events.ts
  indexer/src/scheduler/common.ts
  indexer/src/scheduler/index.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

aesthetic fixes
  indexer/src/recorder/recorder.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

prettier fix?
  docs/grants.md
Due: prettier --write

more prettier fixes
  indexer/src/recorder/recorder.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: FirstContribution materialized view
  indexer/src/db/data-source.ts
  indexer/src/db/migration/1698253664753-first-contribution-view.ts
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: FirstContribution materialized view (#459)
  indexer/src/db/data-source.ts
  indexer/src/db/migration/1698253664753-first-contribution-view.ts
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: Events(Daily/Weekly/Monthly)From(Artifact/Project)
  indexer/src/db/data-source.ts
  indexer/src/db/migration/1698254920178-events-from-artifact-project.ts
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: Events(Daily/Weekly/Monthly)From(Artifact/Project) (#460)
  indexer/src/db/data-source.ts
  indexer/src/db/migration/1698254920178-events-from-artifact-project.ts
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

more prettier fixes
  indexer/src/actions/github/fetch/commits.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Webflow reindexing related bugs (#458)
  docs/grants.md
  indexer/src/actions/github/fetch/common.ts
  indexer/src/cli.ts
  indexer/src/db/events.ts
  indexer/src/recorder/recorder.ts
  indexer/src/scheduler/common.ts
  indexer/src/scheduler/index.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: dont write attestations after the cutoff time
  indexer/utilities/rpgf3-attestations/src/fetch_from_eas.py
  indexer/utilities/rpgf3-attestations/src/workflow.sh
Due: none

feat: incorporate address tagging into the workflow
  indexer/utilities/address-indexers/src/address_tagging.py
Due: none

feat: fix the build post new materialized views
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/lib/graphql/queries.ts
  indexer/README.md
  indexer/src/db/migration/1698257133416-drop-events-by-artifact-project.ts
  indexer/src/db/migration/1698258468674-recreate-events-to-artifact-project.ts
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: fix the build post new materialized views (#462)
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/lib/graphql/queries.ts
  indexer/README.md
  indexer/src/db/migration/1698257133416-drop-events-by-artifact-project.ts
  indexer/src/db/migration/1698258468674-recreate-events-to-artifact-project.ts
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Setup artifact collection ownership
  indexer/src/db/migration/1698213559280-add-artifact-ownership-to-collection.ts
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

rename field
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Rename owner field
  indexer/src/db/migration/1698213559280-add-artifact-ownership-to-collection.ts
  indexer/src/db/migration/1698264908073-add-artifact-owner-to-collection.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Setup artifact collection ownership (#455)
  indexer/src/db/migration/1698264908073-add-artifact-owner-to-collection.ts
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: dynamically switch between monthly/weekly/daily aggregations
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/lib/graphql/queries.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: dynamically switch between monthly/weekly/daily aggregations (#463)
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/lib/graphql/queries.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: RPGF3 attestation piping (#461)
  indexer/utilities/address-indexers/src/address_tagging.py
  indexer/utilities/rpgf3-attestations/src/fetch_from_eas.py
  indexer/utilities/rpgf3-attestations/src/reviewer.py
  indexer/utilities/rpgf3-attestations/src/workflow.sh
Due: none

feat: TableDataProvider shell
  frontend/app/project/[...slug]/page.tsx
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/components/dataprovider/provider-view.tsx
  frontend/components/dataprovider/supabase-query.tsx
  frontend/components/dataprovider/table-data-provider.tsx
  frontend/lib/cached-queries.ts
  frontend/lib/graphql/queries.ts
  frontend/lib/types.ts
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: TableDataProvider starter (#464)
  frontend/app/project/[...slug]/page.tsx
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/components/dataprovider/provider-view.tsx
  frontend/components/dataprovider/supabase-query.tsx
  frontend/components/dataprovider/table-data-provider.tsx
  frontend/lib/cached-queries.ts
  frontend/lib/graphql/queries.ts
  frontend/lib/types.ts
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Dune is running out of mem on GH actions
  .github/scripts/scheduler.sh
Due: none

Dune is running out of mem on GH actions (#465)
  .github/scripts/scheduler.sh
Due: none

feat: router handler for /api/project-event-aggregates
  frontend/app/[...catchall]/page.tsx
  frontend/app/api/artifacts/route.ts
  frontend/app/api/project-event-aggregates/route.ts
  frontend/app/api/projects/route.ts
  frontend/app/artifact/[namespace]/[...name]/page.tsx
  frontend/app/project/[...slug]/page.tsx
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/components/dataprovider/provider-view.tsx
  frontend/components/dataprovider/supabase-query.tsx
  frontend/lib/clients/supabase.ts
  frontend/lib/common.ts
  frontend/lib/graphql/cached-queries.ts
  frontend/lib/graphql/queries.ts
  frontend/lib/parsing.ts
  frontend/lib/paths.ts
  frontend/lib/types/db.ts
  frontend/lib/types/errors.ts
  frontend/lib/types/plasmic.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: router handler for /api/project-event-aggregates (#466)
  frontend/app/[...catchall]/page.tsx
  frontend/app/api/artifacts/route.ts
  frontend/app/api/project-event-aggregates/route.ts
  frontend/app/api/projects/route.ts
  frontend/app/artifact/[namespace]/[...name]/page.tsx
  frontend/app/project/[...slug]/page.tsx
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/components/dataprovider/provider-view.tsx
  frontend/components/dataprovider/supabase-query.tsx
  frontend/lib/clients/supabase.ts
  frontend/lib/common.ts
  frontend/lib/graphql/cached-queries.ts
  frontend/lib/graphql/queries.ts
  frontend/lib/parsing.ts
  frontend/lib/paths.ts
  frontend/lib/types/db.ts
  frontend/lib/types/errors.ts
  frontend/lib/types/plasmic.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: ignore goerli testnet contract artifacts
  indexer/utilities/rpgf3-attestations/src/reviewer.py
Due: none

fix: ignore goerli testnet contract artifacts (#468)
  indexer/utilities/rpgf3-attestations/src/reviewer.py
Due: none

Add collection types
  indexer/src/db/data-source.ts
  indexer/src/db/entities.ts
  indexer/src/db/migration/1698430722339-add-collection-type.ts
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

small docker fix
  package.json
Due: prettier --write

Add collection types (#482)
  indexer/src/db/data-source.ts
  indexer/src/db/entities.ts
  indexer/src/db/migration/1698430722339-add-collection-type.ts
  indexer/src/db/orm-entities.ts
  package.json
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Add periodic collectors
  indexer/src/actions/dune/index.ts
  indexer/src/actions/github/fetch/repo-followers.ts
  indexer/src/cli.ts
  indexer/src/collectors/dependencies.ts
  indexer/src/events/npm.ts
  indexer/src/scheduler/common.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/types.ts
  indexer/src/utils/source-ids.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

remove ununsed file
  indexer/src/db/contracts.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

more small fixes
  indexer/package.json
  indexer/src/scripts/manual-dune-tools.ts
  indexer/src/scripts/upload-contracts-table-to-dune.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

wip
  indexer/src/collectors/dependencies.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

dependents collector is functional
  indexer/src/cli.ts
  indexer/src/collectors/dependencies.ts
  indexer/src/scheduler/index.ts
  indexer/src/utils/array.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Build collections of Dependents and Dependencies (#483)
  indexer/package.json
  indexer/src/actions/dune/index.ts
  indexer/src/actions/github/fetch/repo-followers.ts
  indexer/src/cli.ts
  indexer/src/collectors/dependencies.ts
  indexer/src/db/contracts.ts
  indexer/src/events/npm.ts
  indexer/src/scheduler/common.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/types.ts
  indexer/src/scripts/manual-dune-tools.ts
  indexer/src/scripts/upload-contracts-table-to-dune.ts
  indexer/src/utils/array.ts
  indexer/src/utils/source-ids.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Rename the temp collection
  indexer/src/collectors/dependencies.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write
