Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --write"
  ],
  "**/*.{md,json}": [
    "prettier --write"
  ]
}

Improves importOssDirectory idempotency (#428)
  .github/workflows/indexer-import-oss-directory.yml
  indexer/package.json
  indexer/src/actions/github/fetch/commits.ts
  indexer/src/actions/github/fetch/common.ts
  indexer/src/actions/github/fetch/repo-followers.ts
  indexer/src/actions/oss-directory.ts
  indexer/src/db/artifacts.ts
  indexer/src/db/collection.ts
  indexer/src/db/entities.ts
  indexer/src/db/project.ts
  indexer/src/events/github/getOrgRepos.ts
  indexer/src/scripts/artifact-management.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Allow for easier reindexing
  indexer/src/actions/github/fetch/commits.ts
  indexer/src/cli.ts
  indexer/src/db/testing.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/pointers.test.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix issues with commits collection on update
  indexer/src/actions/github/fetch/commits.ts
  indexer/src/cli.ts
  indexer/src/db/data-source.ts
  indexer/src/db/events.ts
  indexer/src/recorder/recorder.ts
  indexer/src/scheduler/index.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Webflow reindexing fixes (#429)
  indexer/src/actions/github/fetch/commits.ts
  indexer/src/cli.ts
  indexer/src/db/data-source.ts
  indexer/src/db/events.ts
  indexer/src/db/testing.ts
  indexer/src/recorder/recorder.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/pointers.test.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Normalize addresses to lowercase
  indexer/src/actions/dune/index.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Normalize addresses to lowercase (#430)
  indexer/src/actions/dune/index.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fixes more casing issues on collectors
  indexer/src/actions/github/fetch/pull-requests.ts
  indexer/src/actions/github/fetch/repo-followers.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fixes more casing issues on collectors (#431)
  indexer/src/actions/github/fetch/pull-requests.ts
  indexer/src/actions/github/fetch/repo-followers.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

docs: onchain metrics
  docs/metrics/github.md
  docs/metrics/onchain.md
  docs/metrics/transactions.md
  docs/metrics/users.md
Due: prettier --write

docs: github contributions
  docs/metrics/code_contributions.md
  docs/metrics/github_contributions.md
Due: prettier --write

docs: update developers
  docs/metrics/developers.md
Due: prettier --write

docs: minor updates to onchain users
  docs/metrics/onchain.md
Due: prettier --write

fix: docs cleanup
  docs/metrics/code_contributions.md
  docs/metrics/github.md
  docs/metrics/users.md
Due: prettier --write

docs: add npm / edit dependencies
  docs/metrics/dependents.md
  docs/metrics/npm.md
Due: prettier --write

docs: add metrics readme
  docs/metrics/readme.md
Due: prettier --write

docs: update metrics (#432)
  docs/metrics/dependents.md
  docs/metrics/developers.md
  docs/metrics/github_contributions.md
  docs/metrics/npm.md
  docs/metrics/onchain.md
  docs/metrics/readme.md
  docs/metrics/transactions.md
  docs/metrics/users.md
Due: prettier --write

feat: rpgf3 parsers
  indexer/utilities/address-indexers/src/op_rpgf3_eas_fetcher.py
  indexer/utilities/rpgf3-attestations/.gitignore
  indexer/utilities/rpgf3-attestations/src/analyze_apps.py
  indexer/utilities/rpgf3-attestations/src/fetch_from_eas.py
  indexer/utilities/rpgf3-attestations/src/oss-directory.py
  indexer/utilities/rpgf3-attestations/src/parse_links.py
Due: none

fix: handle repos with / at end
  indexer/utilities/rpgf3-attestations/src/oss-directory.py
Due: none

add: workflows
  indexer/utilities/rpgf3-attestations/.gitignore
  indexer/utilities/rpgf3-attestations/src/workflow.sh
Due: none

feat: process RPGF3 attestation data (#433)
  indexer/utilities/address-indexers/src/op_rpgf3_eas_fetcher.py
  indexer/utilities/rpgf3-attestations/.gitignore
  indexer/utilities/rpgf3-attestations/src/analyze_apps.py
  indexer/utilities/rpgf3-attestations/src/fetch_from_eas.py
  indexer/utilities/rpgf3-attestations/src/oss-directory.py
  indexer/utilities/rpgf3-attestations/src/parse_links.py
  indexer/utilities/rpgf3-attestations/src/workflow.sh
Due: none

feat: Add ProjectEventDataProvider and ArtifactEventDataProvider
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: Add ProjectEventDataProvider and ArtifactEventDataProvider (#434)
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

WIP monthly aggregates
  indexer/src/db/migration/1698079882353-add-monthly-aggregate.ts
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

rename
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: identify new repos/addresses to existing projects
  indexer/utilities/address-indexers/src/address_tagging.py
Due: none

feat: reviewer script
  indexer/utilities/rpgf3-attestations/src/reviewer.py
Due: none

bug fixes in npm downloads
  indexer/src/events/npm.ts
  indexer/src/recorder/recorder.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

bug fixes in npm downloads (#448)
  indexer/src/events/npm.ts
  indexer/src/recorder/recorder.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: trailing slashes
  indexer/utilities/rpgf3-attestations/src/analyze_apps.py
  indexer/utilities/rpgf3-attestations/src/workflow.sh
Due: none

feat: RPGF3 reviewer scripts (#439)
  indexer/utilities/address-indexers/src/address_tagging.py
  indexer/utilities/rpgf3-attestations/src/analyze_apps.py
  indexer/utilities/rpgf3-attestations/src/reviewer.py
  indexer/utilities/rpgf3-attestations/src/workflow.sh
Due: none

feat: show artifact or project names in the barlist
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/lib/graphql/queries.ts
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: show artifact or project names in the barlist (#453)
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/lib/graphql/queries.ts
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: fill empty dates
  frontend/components/dataprovider/event-data-provider.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: fill empty dates (#454)
  frontend/components/dataprovider/event-data-provider.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: add weekly and monthly aggregate materialized views
  indexer/src/db/data-source.ts
  indexer/src/db/migration/1698244448679-MonthlyWeeklyAggregation.ts
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fixed tests
  indexer/src/db/testing.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

nit
  indexer/src/db/testing.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: rpgf3 reviewer export format
  indexer/utilities/rpgf3-attestations/src/reviewer.py
Due: none

Allow for easier reindexing
  indexer/src/actions/github/fetch/commits.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: add weekly and monthly aggregate materialized views (#457)
  indexer/src/db/data-source.ts
  indexer/src/db/migration/1698244448679-MonthlyWeeklyAggregation.ts
  indexer/src/db/orm-entities.ts
  indexer/src/db/testing.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write
