Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Removes legacy indexer github actions
  .github/workflows/indexer-clear-cache.yml
  .github/workflows/indexer-create-backfill-job.yml
  .github/workflows/indexer-create-job.yml
  .github/workflows/indexer-custom-params.yml
  .github/workflows/indexer-import-oss-directory.yml
  .github/workflows/indexer-queue.yml
  .github/workflows/indexer-refresh-mvs.yml
  .github/workflows/indexer-worker-dune.yml
  .github/workflows/indexer-worker-github.yml
  .github/workflows/indexer-worker-npm.yml
  .github/workflows/indexer-worker.yml
  .github/workflows/indexer-worker/action.yml
Due: none

Adds Data Warehouse Pipeline Github Action (#883)
  .github/workflows/cloudquery/github-resolve-repos.yml
  .github/workflows/cloudquery/oss-directory.yml
  .github/workflows/warehouse-run-data-pipeline.yml
  cloudquery/github-resolve-repos/src/plugin.ts
  cloudquery/github-resolve-repos/src/spec.ts
  cloudquery/github-resolve-repos/src/tables.ts
  cloudquery/github-resolve-repos/test.yml
  cloudquery/oss-directory/package.json
  cloudquery/oss-directory/src/plugin.ts
  cloudquery/oss-directory/src/spec.ts
  cloudquery/oss-directory/src/tables.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Removes legacy indexer github actions (#884)
  .github/workflows/indexer-clear-cache.yml
  .github/workflows/indexer-create-backfill-job.yml
  .github/workflows/indexer-create-job.yml
  .github/workflows/indexer-custom-params.yml
  .github/workflows/indexer-import-oss-directory.yml
  .github/workflows/indexer-queue.yml
  .github/workflows/indexer-refresh-mvs.yml
  .github/workflows/indexer-worker-dune.yml
  .github/workflows/indexer-worker-github.yml
  .github/workflows/indexer-worker-npm.yml
  .github/workflows/indexer-worker.yml
  .github/workflows/indexer-worker/action.yml
Due: none

fix pipeline name
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Fix data pipeline name (#885)
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Update pipeline permissions
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Update pipeline permissions (#888)
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Removes indexer integration tests
  .github/workflows/ci-default.yml
Due: none

fix cloudquery download dest
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Removes indexer integration tests (#889)
  .github/workflows/ci-default.yml
Due: none

allow setting docker tag
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Ravenac95/fix datapipeline (#890)
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

add write permissions to the cloudquery plugin publisher
  .github/workflows/warehouse-publish-cloudquery-plugins.yml
Due: none

add write permissions to the cloudquery plugin publisher (#891)
  .github/workflows/warehouse-publish-cloudquery-plugins.yml
Due: none

fix cloudquery plugin ref
  .github/workflows/cloudquery/github-resolve-repos.yml
Due: none

fix docker_tag usage
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Various fixes
  .github/scripts/create-dbt-profile.sh
  .github/workflows/cloudquery/github-resolve-repos.yml
  .github/workflows/cloudquery/oss-directory.yml
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

log to console
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Punt to fix the cloudquery piping problem
  .github/workflows/cloudquery/github-resolve-repos.yml
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

fix
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

run as daemon
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

ready for prime time
  .github/workflows/cloudquery/github-resolve-repos.yml
  .github/workflows/cloudquery/oss-directory.yml
Due: none

Working data pipeline (#892)
  .github/scripts/create-dbt-profile.sh
  .github/workflows/cloudquery/github-resolve-repos.yml
  .github/workflows/cloudquery/oss-directory.yml
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Fix testing string
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Fix testing string (#893)
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

add: funding data docs
  docs/docs/contribute/funding-data.md
Due: prettier --write

add: funding data docs CSV instructions (#897)
  docs/docs/contribute/funding-data.md
Due: prettier --write

Starting docs for dbt model setup
  docs/docs/contribute/adding-dbt-models.md
Due: prettier --write

fix
  docs/docs/contribute/adding-dbt-models.md
Due: prettier --write

more docs
  docs/docs/contribute/adding-dbt-models.md
Due: prettier --write

Remove deprecated options for dbt. They don't work
  dbt_project.yml
Due: none

Add reference to the dbt models guide
  docs/docs/contribute/intro.md
Due: prettier --write

Adding a DBT model docs (#911)
  dbt_project.yml
  docs/docs/contribute/adding-dbt-models.md
  docs/docs/contribute/intro.md
Due: prettier --write

add: gitcoin oss impact
  docs/blog/2024-02-21-gitcoin-grants-impact/01-rounds.png
  docs/blog/2024-02-21-gitcoin-grants-impact/02-gr1-4.png
  docs/blog/2024-02-21-gitcoin-grants-impact/03-gr5-9.png
  docs/blog/2024-02-21-gitcoin-grants-impact/04-gr10-15.png
  docs/blog/2024-02-21-gitcoin-grants-impact/05-alpha-gr19.png
  docs/blog/2024-02-21-gitcoin-grants-impact/06-contribs.png
  docs/blog/2024-02-21-gitcoin-grants-impact/07-developer-growth.png
  docs/blog/2024-02-21-gitcoin-grants-impact/08-main-exhibit.png
  docs/blog/2024-02-21-gitcoin-grants-impact/index.mdx
Due: none

add: gitcoin oss impact blog post (#912)
  docs/blog/2024-02-21-gitcoin-grants-impact/01-rounds.png
  docs/blog/2024-02-21-gitcoin-grants-impact/02-gr1-4.png
  docs/blog/2024-02-21-gitcoin-grants-impact/03-gr5-9.png
  docs/blog/2024-02-21-gitcoin-grants-impact/04-gr10-15.png
  docs/blog/2024-02-21-gitcoin-grants-impact/05-alpha-gr19.png
  docs/blog/2024-02-21-gitcoin-grants-impact/06-contribs.png
  docs/blog/2024-02-21-gitcoin-grants-impact/07-developer-growth.png
  docs/blog/2024-02-21-gitcoin-grants-impact/08-main-exhibit.png
  docs/blog/2024-02-21-gitcoin-grants-impact/index.mdx
Due: none

fix: minor copy edits
  docs/blog/2024-02-21-gitcoin-grants-impact/index.mdx
Due: none

fix: minor copy edits (#913)
  docs/blog/2024-02-21-gitcoin-grants-impact/index.mdx
Due: none

draft project metrics model
  dbt/models/marts/events/github_metrics.sql
Due: none

Add docs about generating ids
  docs/docs/contribute/adding-dbt-models.md
Due: prettier --write

Add docs about generating ids (#917)
  docs/docs/contribute/adding-dbt-models.md
Due: prettier --write

Path conditions:
  eslint --ignore-path .gitignore --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
