Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

dbt/onchain metrics v2 (#1255)
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v2.sql
  warehouse/dbt/models/marts/users/new_users_monthly_to_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: docs edits (#1256)
  apps/docs/docs/contribute/impact-models.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Creates a generic meltano pipeline to bigquery (#1250)
  .github/workflows/meltano/action.yml
  .github/workflows/warehouse-meltano-ecosystems-ost.yml
  ops/tf-modules/warehouse/main.tf
  ops/tf-modules/warehouse/outputs.tf
  warehouse/meltano-setup/meltano.yml
Due: none

Run meltano-ecosystems-ost every 30 mins
  .github/workflows/warehouse-meltano-ecosystems-ost.yml
Due: none

Setup meltano-ecosystems-ost cron (#1258)
  .github/workflows/warehouse-meltano-ecosystems-ost.yml
Due: none

Create onchain_metrics_by_artifact
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_artifact.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Adds additonal managed users for the bucket
  ops/tf-modules/warehouse/main.tf
  ops/tf-modules/warehouse/variables.tf
Due: none

Adds additonal managed users for the bucket (#1260)
  ops/tf-modules/warehouse/main.tf
  ops/tf-modules/warehouse/variables.tf
Due: none

add time_ranges table
  warehouse/dbt/models/marts/time_ranges.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

refactor mart models to use time ranges
  warehouse/dbt/models/marts/project_metrics/live/event_totals_by_project.sql
  warehouse/dbt/models/marts/project_metrics/live/pm_dev_months.sql
  warehouse/dbt/models/marts/project_metrics/live/pm_new_contribs.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add: barebones user model
  warehouse/dbt/models/marts/users/users.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add: contract deployed by project model
  warehouse/dbt/models/marts/project_metrics/beta/pm_contracts_deployed.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add: trusted txns model
  warehouse/dbt/models/marts/project_metrics/beta/pm_trusted_transactions.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix sql
  warehouse/dbt/models/marts/project_metrics/beta/pm_trusted_transactions.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

dbt: create some v1 RF4 impact models (#1261)
  warehouse/dbt/models/marts/project_metrics/beta/pm_contracts_deployed.sql
  warehouse/dbt/models/marts/project_metrics/beta/pm_trusted_transactions.sql
  warehouse/dbt/models/marts/project_metrics/live/event_totals_by_project.sql
  warehouse/dbt/models/marts/project_metrics/live/pm_dev_months.sql
  warehouse/dbt/models/marts/project_metrics/live/pm_new_contribs.sql
  warehouse/dbt/models/marts/time_ranges.sql
  warehouse/dbt/models/marts/users/users.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

refactor: create int_projects
  warehouse/dbt/models/intermediate/directory/int_project_owners.sql
  warehouse/dbt/models/intermediate/directory/int_projects.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

update projects mart
  warehouse/dbt/models/marts/directory/projects.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

change comments
  warehouse/dbt/models/intermediate/directory/int_projects.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

dbt: refactor projects mart to use int model (#1262)
  warehouse/dbt/models/intermediate/directory/int_project_owners.sql
  warehouse/dbt/models/intermediate/directory/int_projects.sql
  warehouse/dbt/models/marts/directory/projects.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: new users in onchain metrics
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v2.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

refactor: int models
  warehouse/dbt/models/intermediate/events/int_time_intervals.sql
  warehouse/dbt/models/intermediate/users/int_addresses.sql
  warehouse/dbt/models/intermediate/users/int_addresses_daily_activity.sql
  warehouse/dbt/models/intermediate/users/int_devs.sql
  warehouse/dbt/models/intermediate/users/int_user_events_daily_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_user_events_daily_to_project.sql
  warehouse/dbt/models/intermediate/users/int_user_events_monthly_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_user_events_monthly_to_project.sql
  warehouse/dbt/models/intermediate/users/int_user_events_to_project_by_time_interval.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

update onchain marts
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v2.sql
  warehouse/dbt/models/marts/project_metrics/beta/pm_trusted_transactions.sql
  warehouse/dbt/models/marts/project_metrics/live/address_totals_by_project.sql
  warehouse/dbt/models/marts/project_metrics/live/event_totals_by_project.sql
  warehouse/dbt/models/marts/project_metrics/live/pm_dev_months.sql
  warehouse/dbt/models/marts/project_metrics/live/pm_new_contribs.sql
  warehouse/dbt/models/marts/time_ranges.sql
  warehouse/dbt/models/marts/users/active_addresses_daily_to_project.sql
  warehouse/dbt/models/marts/users/active_addresses_monthly_to_project.sql
  warehouse/dbt/models/marts/users/address_rfm_segments_by_project.sql
  warehouse/dbt/models/marts/users/new_users_monthly_to_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Adds basic dagster with karma3 setup
  warehouse/oso_dagster/__init__.py
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/schedules.py
Due: none

update code metrics marts
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_project.sql
  warehouse/dbt/models/marts/project_metrics/live/pm_contributors.sql
  warehouse/dbt/models/marts/users/active_addresses_monthly_to_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add groupbys
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: typo in contributors pm
  warehouse/dbt/models/marts/project_metrics/live/pm_contributors.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: ambiguous column
  warehouse/dbt/models/marts/users/active_addresses_monthly_to_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

remove typo
  warehouse/dbt/models/marts/users/active_addresses_monthly_to_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: code metrics
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

dbt: onchain int models for more composable impact metrics (#1266)
  warehouse/dbt/models/intermediate/events/int_time_intervals.sql
  warehouse/dbt/models/intermediate/users/int_addresses.sql
  warehouse/dbt/models/intermediate/users/int_addresses_daily_activity.sql
  warehouse/dbt/models/intermediate/users/int_devs.sql
  warehouse/dbt/models/intermediate/users/int_user_events_daily_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_user_events_daily_to_project.sql
  warehouse/dbt/models/intermediate/users/int_user_events_monthly_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_user_events_monthly_to_project.sql
  warehouse/dbt/models/intermediate/users/int_user_events_to_project_by_time_interval.sql
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_project.sql
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v2.sql
  warehouse/dbt/models/marts/project_metrics/beta/pm_trusted_transactions.sql
  warehouse/dbt/models/marts/project_metrics/live/address_totals_by_project.sql
  warehouse/dbt/models/marts/project_metrics/live/event_totals_by_project.sql
  warehouse/dbt/models/marts/project_metrics/live/pm_contributors.sql
  warehouse/dbt/models/marts/project_metrics/live/pm_dev_months.sql
  warehouse/dbt/models/marts/users/active_addresses_daily_to_project.sql
  warehouse/dbt/models/marts/users/active_addresses_monthly_to_project.sql
  warehouse/dbt/models/marts/users/address_rfm_segments_by_project.sql
  warehouse/dbt/models/marts/users/new_users_monthly_to_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

bug: add user_namespace
  warehouse/dbt/models/marts/directory/projects.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: frontend build
  apps/docs/package.json
  apps/frontend/app/artifact/[namespace]/[type]/[...name]/page.tsx
  apps/frontend/app/project/[...slug]/page.tsx
  apps/frontend/lib/graphql/queries.ts
  apps/frontend/lib/paths.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: frontend build (#1271)
  apps/docs/package.json
  apps/frontend/app/artifact/[namespace]/[type]/[...name]/page.tsx
  apps/frontend/app/project/[...slug]/page.tsx
  apps/frontend/lib/graphql/queries.ts
  apps/frontend/lib/paths.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

bug: add user_namespace (#1269)
  warehouse/dbt/models/marts/directory/projects.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: groupby on summary metrics
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v2.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

karm
  warehouse/oso_dagster/__init__.py
  warehouse/oso_dagster/assets.py
Due: none

fix: join statement
  warehouse/dbt/models/marts/onchain_metrics/onchain_metrics_by_project_v2.sql
  warehouse/dbt/models/marts/users/address_rfm_segments_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: frontend build
  apps/frontend/app/api/auth/route.ts
  apps/frontend/components/dataprovider/apollo-wrapper.tsx
  apps/frontend/components/dataprovider/event-data-provider.tsx
  apps/frontend/components/dataprovider/provider-view.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: attempted fixes for frontend
  apps/frontend/lib/graphql/cached-queries.ts
  apps/frontend/plasmic-init-client.tsx
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run sqlfluff fix -f --dialect bigquery: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint --dialect bigquery: any of: warehouse/dbt/**/*.sql
