Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f --dialect bigquery",
    "poetry run sqlfluff lint --dialect bigquery"
  ]
}

More pipeline fixes
  warehouse/dbt/models/intermediate/blockchain/int_optimism_transactions.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

More pipeline fixes (#1419)
  warehouse/dbt/models/intermediate/blockchain/int_optimism_transactions.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Add pipeline debugging
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Add pipeline debugging (#1420)
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

blog: update date and links for RF4 impact metrics
  apps/docs/blog/2024-05-16-impact-metrics-rf4/data-transformations.png
  apps/docs/blog/2024-05-16-impact-metrics-rf4/impact-matrix.png
  apps/docs/blog/2024-05-16-impact-metrics-rf4/index.md
  apps/docs/blog/2024-05-16-impact-metrics-rf4/rf4-banner.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

blog: update date and links for RF4 impact metrics (#1422)
  apps/docs/blog/2024-05-16-impact-metrics-rf4/data-transformations.png
  apps/docs/blog/2024-05-16-impact-metrics-rf4/impact-matrix.png
  apps/docs/blog/2024-05-16-impact-metrics-rf4/index.md
  apps/docs/blog/2024-05-16-impact-metrics-rf4/rf4-banner.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fix debugging logic
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Fix debugging logic (#1423)
  .github/workflows/warehouse-run-data-pipeline.yml
Due: none

Add podinfo service account
  ops/k8s-apps/base/podinfo/podinfo.yaml
Due: none

Add podinfo service account (#1424)
  ops/k8s-apps/base/podinfo/podinfo.yaml
Due: none

Add env vars
  ops/k8s-apps/base/podinfo/podinfo.yaml
Due: none

ravenac95/add podinfo env vars (#1425)
  ops/k8s-apps/base/podinfo/podinfo.yaml
Due: none

Adds cloudflare ingress
  .github/workflows/warehouse-run-data-pipeline.yml
  ops/clusters/warehouse/infrastructure.yaml
  ops/k8s-apps/base/podinfo/podinfo.yaml
  ops/k8s-infrastructure/controllers/cert-manager.yaml
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
  ops/k8s-infrastructure/controllers/kube-secrets-init.yaml
  ops/k8s-infrastructure/controllers/kustomization.yaml
Due: none

Adds cloudflare ingress (#1426)
  .github/workflows/warehouse-run-data-pipeline.yml
  ops/clusters/warehouse/infrastructure.yaml
  ops/k8s-apps/base/podinfo/podinfo.yaml
  ops/k8s-infrastructure/controllers/cert-manager.yaml
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
  ops/k8s-infrastructure/controllers/kube-secrets-init.yaml
  ops/k8s-infrastructure/controllers/kustomization.yaml
Due: none

Debug cloudflare ingress
  ops/k8s-apps/base/podinfo/podinfo.yaml
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
Due: none

Debug cloudflare ingress (#1427)
  ops/k8s-apps/base/podinfo/podinfo.yaml
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
Due: none

fix ingress patch
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
Due: none

Fix cloudflare tunnel image
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
Due: none

Fix cloudflare permissions
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
Due: none

Fix cloudflare env vars
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
Due: none

Fix cloudflare env vars patch
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
Due: none

Create ingress for podinfo
  ops/k8s-apps/base/podinfo/podinfo.yaml
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
Due: none

Fix ingress for podinfo
  ops/k8s-apps/base/podinfo/podinfo.yaml
Due: none

Fix ingress class name
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
Due: none

Add dbt profile to the project
  profiles.yml
Due: none

update rf4 blog post
  apps/docs/blog/2024-05-16-impact-metrics-rf4/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: update docs to reflect schema v5
  apps/docs/docs/contribute/impact-models.md
  apps/docs/docs/contribute/project-data.md
  apps/docs/docs/how-oso-works/index.mdx
  apps/docs/docs/how-oso-works/oss-directory/artifact.md
  apps/docs/docs/how-oso-works/oss-directory/collection.md
  apps/docs/docs/how-oso-works/oss-directory/index.md
  apps/docs/docs/how-oso-works/oss-directory/project.md
  apps/docs/docs/integrate/oss-directory.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: updates for schema v5 (#1429)
  apps/docs/blog/2024-05-16-impact-metrics-rf4/index.md
  apps/docs/docs/contribute/impact-models.md
  apps/docs/docs/contribute/project-data.md
  apps/docs/docs/how-oso-works/index.mdx
  apps/docs/docs/how-oso-works/oss-directory/artifact.md
  apps/docs/docs/how-oso-works/oss-directory/collection.md
  apps/docs/docs/how-oso-works/oss-directory/index.md
  apps/docs/docs/how-oso-works/oss-directory/project.md
  apps/docs/docs/integrate/oss-directory.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: update query example in data challenge CTA
  apps/docs/docs/contribute/challenges/2024-04-05_data_challenge_01/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: update query example in data challenge CTA (#1430)
  apps/docs/docs/contribute/challenges/2024-04-05_data_challenge_01/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Cloudquery github resolver should handle null github fields
  warehouse/cloudquery-github-resolve-repos/src/tables.ts
  warehouse/cloudquery-github-resolve-repos/test.yml
Due: none

Cloudquery github resolver should handle null github fields (#1431)
  warehouse/cloudquery-github-resolve-repos/src/tables.ts
  warehouse/cloudquery-github-resolve-repos/test.yml
Due: none

Start setup for dagster
  ops/helm-charts/.gitignore
  ops/helm-charts/oso-dagster/.helmignore
  ops/helm-charts/oso-dagster/Chart.lock
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/_helpers.tpl
  ops/helm-charts/oso-dagster/templates/config-map.yaml
  ops/helm-charts/oso-dagster/values.yaml
  ops/k8s-apps/base/dagster/dagster.yaml
  ops/k8s-apps/base/dagster/kustomization.yaml
  ops/k8s-apps/base/podinfo/podinfo.yaml
  ops/k8s-apps/production/kustomization.yaml
Due: none

add production patch
  ops/k8s-apps/production/custom-helm-values.yaml
  ops/k8s-apps/production/kustomization.yaml
Due: none

Initial Dagster Setup On K8s (#1432)
  ops/helm-charts/.gitignore
  ops/helm-charts/oso-dagster/.helmignore
  ops/helm-charts/oso-dagster/Chart.lock
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/_helpers.tpl
  ops/helm-charts/oso-dagster/templates/config-map.yaml
  ops/helm-charts/oso-dagster/values.yaml
  ops/k8s-apps/base/dagster/dagster.yaml
  ops/k8s-apps/base/dagster/kustomization.yaml
  ops/k8s-apps/base/podinfo/podinfo.yaml
  ops/k8s-apps/production/custom-helm-values.yaml
  ops/k8s-apps/production/kustomization.yaml
Due: none

Add production apps
  ops/clusters/warehouse/production-apps.yaml
Due: none

Setup correct app references
  ops/clusters/warehouse/production-apps.yaml
  ops/clusters/warehouse/staging-apps.yaml
Due: none

Setup deps for k8s resources
  ops/clusters/warehouse/production-apps.yaml
  ops/clusters/warehouse/staging-apps.yaml
Due: none

Fix namespace ref to git repo source
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

Add cloudsql proxy operator
  ops/k8s-apps/production/init-container.yaml
  ops/k8s-apps/production/kustomization.yaml
  ops/k8s-infrastructure/controllers/cloudsql-proxy-operator.yaml
  ops/k8s-infrastructure/controllers/cloudsql-proxy-operator/base.yaml
  ops/k8s-infrastructure/controllers/kustomization.yaml
Due: none
