Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

add: rpgf3 mdx post
  docs/blog/2023-11-07-open-source-open-data-open-infra.md
  docs/blog/2023-12-14-levels-of-the-game.mdx
Due: prettier --write

fix: update authors
  docs/blog/2019-05-28-first-blog-post.md
  docs/blog/2019-05-29-long-blog-post.md
  docs/blog/2021-08-01-mdx-blog-post.mdx
  docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  docs/blog/2021-08-26-welcome/index.md
  docs/blog/2023-11-07-open-source-open-data-open-infra.md
  docs/blog/2023-12-14-levels-of-the-game.mdx
  docs/blog/authors.yml
Due: prettier --write

initial docusaurus blog posts (#692)
  docs/blog/2019-05-28-first-blog-post.md
  docs/blog/2019-05-29-long-blog-post.md
  docs/blog/2021-08-01-mdx-blog-post.mdx
  docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  docs/blog/2021-08-26-welcome/index.md
  docs/blog/2023-11-07-open-source-open-data-open-infra.md
  docs/blog/2023-12-14-levels-of-the-game.mdx
  docs/blog/authors.yml
Due: prettier --write

add: retropgf3 ecosystem analysis blog post
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/before-after.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/devs-heatmap.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/fees-all.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/fees-rpgf3.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/fees-zoom.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/hvaus.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/index.md
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/mads-heatmap.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/mads-rpgf1-3.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/mads-rpgf2-3.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/mads-rpgf3.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/network-graph-big.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/network-graph.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/users-heatmap.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/users-scatter.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/venn-diagram.png
Due: prettier --write

fix: image labels
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/index.md
Due: prettier --write

add: optimism retropgf ecosystem report (#693)
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/before-after.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/devs-heatmap.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/fees-all.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/fees-rpgf3.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/fees-zoom.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/hvaus.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/index.md
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/mads-heatmap.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/mads-rpgf1-3.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/mads-rpgf2-3.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/mads-rpgf3.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/network-graph-big.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/network-graph.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/users-heatmap.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/users-scatter.png
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/venn-diagram.png
Due: prettier --write

add: pln + ff ecosystem report
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/index.md
  docs/blog/2023-12-15-pln-ecosystem-analysis/heatmap-pln-ff.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/heatmap-pln.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/index.md
  docs/blog/2023-12-15-pln-ecosystem-analysis/leaderboard.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/mads-ff.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/mads-pln-ff.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/mads-pln.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/mads-pln2.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/network-graph.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/venn.png
Due: prettier --write

update: pln ecosystem report
  docs/blog/2023-12-15-pln-ecosystem-analysis/datashader.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/heatmap-pln-ff.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/heatmap-pln.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/index.mdx
  docs/blog/2023-12-15-pln-ecosystem-analysis/network-graph.png
Due: none

add: pln + ff ecosystem report (#694)
  docs/blog/2023-11-20-retropgf3-ecosystem-analysis/index.md
  docs/blog/2023-12-15-pln-ecosystem-analysis/datashader.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/heatmap-pln-ff.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/heatmap-pln.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/index.mdx
  docs/blog/2023-12-15-pln-ecosystem-analysis/leaderboard.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/mads-ff.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/mads-pln-ff.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/mads-pln.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/mads-pln2.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/network-graph.png
  docs/blog/2023-12-15-pln-ecosystem-analysis/venn.png
Due: prettier --write

Just a start
  docs/docs/contributors/data-engineering/adding-connector.md
  docs/docs/contributors/data-engineering/creating-pipeline.md
  docs/docs/contributors/overview.md
  docs/docs/intro.md
  pnpm-lock.yaml
Due: prettier --write

refactor: styling and directory structure
  docs/docs/api/_category_.json
  docs/docs/api/intro.md
  docs/docs/contributing/_category_.json
  docs/docs/contributing/intro.md
  docs/docs/ecosystems/_category_.json
  docs/docs/ecosystems/grants.md
  docs/docs/ecosystems/intro.md
  docs/docs/intro.md
  docs/docs/metrics/_category_.json
  docs/docs/metrics/intro.md
  docs/docs/tutorial-basics/_category_.json
  docs/docs/tutorial-basics/congratulations.md
  docs/docs/tutorial-basics/create-a-blog-post.md
  docs/docs/tutorial-basics/create-a-document.md
  docs/docs/tutorial-basics/create-a-page.md
  docs/docs/tutorial-basics/deploy-your-site.md
  docs/docs/tutorial-basics/markdown-features.mdx
  docs/docs/tutorial-extras/_category_.json
  docs/docs/tutorial-extras/img/docsVersionDropdown.png
  docs/docs/tutorial-extras/img/localeDropdown.png
  docs/docs/tutorial-extras/manage-docs-versions.md
  docs/docs/tutorial-extras/translate-your-site.md
  docs/docusaurus.config.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

add: docs scaffolding
  docs/docs/api/intro.md
  docs/docs/contributing/_category_.json
  docs/docs/contributing/add-update/_category_.json
  docs/docs/contributing/add-update/blockchain-address-schema.md
  docs/docs/contributing/add-update/bulk-updates.md
  docs/docs/contributing/add-update/intro.md
  docs/docs/contributing/add-update/project-schema.md
  docs/docs/contributing/data-collective.md
  docs/docs/contributing/data-engineering/_category_.json
  docs/docs/contributing/data-engineering/adding-connector.md
  docs/docs/contributing/data-engineering/creating-pipeline.md
  docs/docs/contributing/data-engineering/intro.md
  docs/docs/contributing/data-science/_category_.json
  docs/docs/contributing/data-science/data-viz.md
  docs/docs/contributing/data-science/experiments.md
  docs/docs/contributing/data-science/intro.md
  docs/docs/contributing/data-science/notebooks.md
  docs/docs/contributing/data-scientist-meme.png
  docs/docs/contributing/intro.md
  docs/docs/ecosystems/intro.md
  docs/docs/ecosystems/optimism.md
  docs/docs/ecosystems/pln.md
  docs/docs/intro.md
Due: prettier --write

fix: typo
  docs/docs/datasets/_category_.json
  docs/docs/datasets/intro.md
  docs/docusaurus.config.ts
  docs/src/pages/index.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: broken contributing links
  docs/docs/contributing/intro.md
Due: prettier --write

fix: remove homepage features
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

add: data analyst docs
  docs/docs/contributing/data-science/bounties.md
  docs/docs/contributing/data-science/experiments.md
  docs/docs/contributing/data-science/intro.md
Due: prettier --write

docs: insights repo updates (#699)
  docs/docs/contributing/data-science/bounties.md
  docs/docs/contributing/data-science/experiments.md
  docs/docs/contributing/data-science/intro.md
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

add: fund your dependencies blog
  docs/blog/2024-01-03-fund-your-dependencies/a16z.png
  docs/blog/2024-01-03-fund-your-dependencies/index.mdx
  docs/blog/2024-01-03-fund-your-dependencies/mads.png
  docs/blog/2024-01-03-fund-your-dependencies/maus.png
  docs/blog/2024-01-03-fund-your-dependencies/sankey.png
Due: none

add: fund your dependencies blog (#700)
  docs/blog/2024-01-03-fund-your-dependencies/a16z.png
  docs/blog/2024-01-03-fund-your-dependencies/index.mdx
  docs/blog/2024-01-03-fund-your-dependencies/mads.png
  docs/blog/2024-01-03-fund-your-dependencies/maus.png
  docs/blog/2024-01-03-fund-your-dependencies/sankey.png
Due: none

feat: add search to docs
  docs/docusaurus.config.ts
  docs/package.json
  docs/yarn.lock
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

add: bounties schedule
  docs/docs/contributing/add-update/bounties.md
Due: prettier --write

fix: edits to bounties doc
  docs/docs/contributing/add-update/bounties.md
Due: prettier --write

typo
  docs/docs/contributing/add-update/bounties.md
Due: prettier --write

starting experiments with airbyte connectors
  .dockerignore
  connectors/github-resolve-repos/.eslintrc.json
  connectors/github-resolve-repos/README.md
  connectors/github-resolve-repos/package.json
  connectors/github-resolve-repos/src/index.ts
  connectors/github-resolve-repos/src/resources/schemas/repository.json
  connectors/github-resolve-repos/src/resources/spec.json
  connectors/github-resolve-repos/src/streams/get-org-repos.ts
  connectors/github-resolve-repos/src/streams/getPath.ts
  connectors/github-resolve-repos/src/streams/graphql-client.ts
  connectors/github-resolve-repos/src/streams/index.ts
  connectors/github-resolve-repos/src/streams/repositories.ts
  connectors/github-resolve-repos/src/streams/unpaginate.ts
  connectors/github-resolve-repos/tsconfig.json
  connectors/oss-directory/.eslintrc.json
  connectors/oss-directory/README.md
  connectors/oss-directory/config.test.json
  connectors/oss-directory/package.json
  connectors/oss-directory/src/index.ts
  connectors/oss-directory/src/resources/spec.json
  connectors/oss-directory/src/streams/artifacts.ts
  connectors/oss-directory/src/streams/base.ts
  connectors/oss-directory/src/streams/collections.ts
  connectors/oss-directory/src/streams/index.ts
  connectors/oss-directory/src/streams/projects.ts
  connectors/oss-directory/tsconfig.json
  docker/deploy-connector.sh
  docker/ts-connector.Dockerfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

updates: data section
  docs/docs/contributing/add-update/blockchain-address-schema.md
  docs/docs/contributing/add-update/project-schema.md
  docs/docs/datasets/_category_.json
  docs/docs/datasets/intro.md
  docs/src/pages/index.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

reorder sections
  docs/docs/api/_category_.json
  docs/docs/contributing/_category_.json
  docs/docs/ecosystems/_category_.json
  docs/docs/intro.md
  docs/docs/metrics/_category_.json
  docs/docusaurus.config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: broken link
  docs/docusaurus.config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: additional broken links
  docs/docs/contributing/add-update/intro.md
  docs/docs/contributing/intro.md
Due: prettier --write

fix: rename data directory
  docs/docs/how-oso-works/_category_.json
  docs/docs/how-oso-works/artifact-schemas.md
  docs/docs/how-oso-works/collection-schema.md
  docs/docs/how-oso-works/connectors.md
  docs/docs/how-oso-works/events.md
  docs/docs/how-oso-works/intro.md
  docs/docs/how-oso-works/project-schema.md
  docs/docs/how-oso-works/query-processors.md
  docs/docs/how-oso-works/schema-updates.md
  docs/docs/how-oso-works/warehouse.md
  docs/docusaurus.config.ts
  docs/src/pages/index.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: category orders and broken link
  docs/docs/contributing/_category_.json
  docs/docs/contributing/add-update/intro.md
Due: prettier --write

update: contributing docs
  docs/docs/contributing/add-update/bulk-updates.md
  docs/docs/contributing/add-update/oss-bounties.md
  docs/docs/contributing/data-collective.md
  docs/docs/contributing/data-science/data-viz.md
  docs/docs/contributing/data-science/ds-bounties.md
  docs/docs/contributing/data-science/intro.md
  docs/docs/contributing/data-science/notebooks.md
  docs/docs/how-oso-works/_category_.json
  docs/docusaurus.config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: broken link on bounties
  docs/docs/contributing/data-science/intro.md
Due: prettier --write

docs: contributing to OSO part 2 (#707)
  docs/docs/api/_category_.json
  docs/docs/contributing/add-update/blockchain-address-schema.md
  docs/docs/contributing/add-update/bulk-updates.md
  docs/docs/contributing/add-update/intro.md
  docs/docs/contributing/add-update/oss-bounties.md
  docs/docs/contributing/add-update/project-schema.md
  docs/docs/contributing/data-collective.md
  docs/docs/contributing/data-science/data-viz.md
  docs/docs/contributing/data-science/ds-bounties.md
  docs/docs/contributing/data-science/intro.md
  docs/docs/contributing/data-science/notebooks.md
  docs/docs/contributing/intro.md
  docs/docs/datasets/_category_.json
  docs/docs/datasets/intro.md
  docs/docs/ecosystems/_category_.json
  docs/docs/how-oso-works/_category_.json
  docs/docs/how-oso-works/artifact-schemas.md
  docs/docs/how-oso-works/collection-schema.md
  docs/docs/how-oso-works/connectors.md
  docs/docs/how-oso-works/events.md
  docs/docs/how-oso-works/intro.md
  docs/docs/how-oso-works/project-schema.md
  docs/docs/how-oso-works/query-processors.md
  docs/docs/how-oso-works/schema-updates.md
  docs/docs/how-oso-works/warehouse.md
  docs/docs/intro.md
  docs/docs/metrics/_category_.json
  docs/docusaurus.config.ts
  docs/src/pages/index.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

docs: contributing to OSO part 2 (#707) (#715)
  docs/docs/api/_category_.json
  docs/docs/contributing/add-update/blockchain-address-schema.md
  docs/docs/contributing/add-update/bulk-updates.md
  docs/docs/contributing/add-update/intro.md
  docs/docs/contributing/add-update/oss-bounties.md
  docs/docs/contributing/add-update/project-schema.md
  docs/docs/contributing/data-collective.md
  docs/docs/contributing/data-science/data-viz.md
  docs/docs/contributing/data-science/ds-bounties.md
  docs/docs/contributing/data-science/intro.md
  docs/docs/contributing/data-science/notebooks.md
  docs/docs/contributing/intro.md
  docs/docs/datasets/_category_.json
  docs/docs/datasets/intro.md
  docs/docs/ecosystems/_category_.json
  docs/docs/how-oso-works/_category_.json
  docs/docs/how-oso-works/artifact-schemas.md
  docs/docs/how-oso-works/collection-schema.md
  docs/docs/how-oso-works/connectors.md
  docs/docs/how-oso-works/events.md
  docs/docs/how-oso-works/intro.md
  docs/docs/how-oso-works/project-schema.md
  docs/docs/how-oso-works/query-processors.md
  docs/docs/how-oso-works/schema-updates.md
  docs/docs/how-oso-works/warehouse.md
  docs/docs/intro.md
  docs/docs/metrics/_category_.json
  docs/docusaurus.config.ts
  docs/src/pages/index.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

update: ecosystems section
  docs/docs/contributing/add-update/oss-bounties.md
  docs/docs/ecosystems/arbitrum.md
  docs/docs/ecosystems/grants.md
  docs/docs/ecosystems/intro.md
Due: prettier --write

update: ecosystems section (#716)
  docs/docs/contributing/add-update/oss-bounties.md
  docs/docs/ecosystems/arbitrum.md
  docs/docs/ecosystems/grants.md
  docs/docs/ecosystems/intro.md
Due: prettier --write

feat: adding algolia to docs
  docs/docusaurus.config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: adding algolia to docs (#730)
  docs/docusaurus.config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: update Algolia IDs
  docs/docusaurus.config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Path conditions:
  eslint --ignore-path .gitignore --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
