Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

chore: update db test queries
  indexer/database/db_connect.py
Due: none

feat: queries for github EDA (#297)
  indexer/database/db_connect.py
  indexer/database/get_project_github_metrics.sql
  indexer/database/get_project_monthly_event_stats.sql
Due: none

feat: new queries
  indexer/database/db_connect.py
  indexer/database/get_collection_event_stats.sql
  indexer/database/get_monthly_commits_by_collection.sql
Due: none

Eda/queries (#298)
  indexer/database/get_collection_event_stats.sql
  indexer/database/get_monthly_commits_by_collection.sql
Due: none

feat: charting mockups (#123)
  frontend/lib/mocks/github-chart.html
  frontend/lib/mocks/npmChart.html
  frontend/lib/mocks/sankey-chart.html
Due: none

various clean up for recorder
  frontend/.eslintrc.json
  indexer/.eslintrc.json
Due: prettier --write

clean up batcher
  indexer/src/utils/array.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Update recorder
  indexer/src/recorder/recorder.test.ts
  indexer/src/recorder/recorder.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Various performance improvements
  indexer/src/actions/dune/funding-event-collector.ts
  indexer/src/actions/dune/index.ts
  indexer/src/actions/github/fetch/commits.ts
  indexer/src/actions/github/fetch/common.ts
  indexer/src/actions/github/fetch/pull-requests.ts
  indexer/src/actions/github/fetch/repo-followers.ts
  indexer/src/cacher/time-series.ts
  indexer/src/recorder/types.ts
  indexer/src/scheduler/common.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Recorder Bug Fixes and Performance Fixes (#299)
  frontend/.eslintrc.json
  indexer/.eslintrc.json
  indexer/src/actions/dune/funding-event-collector.ts
  indexer/src/actions/dune/index.ts
  indexer/src/actions/github/fetch/commits.ts
  indexer/src/actions/github/fetch/common.ts
  indexer/src/actions/github/fetch/pull-requests.ts
  indexer/src/actions/github/fetch/repo-followers.ts
  indexer/src/cacher/time-series.ts
  indexer/src/recorder/recorder.test.ts
  indexer/src/recorder/recorder.ts
  indexer/src/recorder/types.ts
  indexer/src/scheduler/common.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/types.ts
  indexer/src/utils/array.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fixes references to the package
  .github/scripts/load-cache.sh
  .github/scripts/write-cache.sh
Due: none

Update job correctly
  indexer/src/db/jobs.ts
  indexer/src/db/orm-entities.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

add migration
  indexer/src/db/migration/1696495261308-job-add-version.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Update to add default
  indexer/src/db/migration/1696495364452-job-add-version.ts
  indexer/src/db/orm-entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fix Job Completion Bug (#304)
  indexer/src/db/jobs.ts
  indexer/src/db/migration/1696495364452-job-add-version.ts
  indexer/src/db/orm-entities.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fix PRs
  indexer/src/actions/github/fetch/pull-requests.ts
  indexer/src/scheduler/types.ts
  indexer/src/utils/array.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fix PR Collector (#305)
  indexer/src/actions/github/fetch/pull-requests.ts
  indexer/src/scheduler/types.ts
  indexer/src/utils/array.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Update README.md
  README.md
Due: prettier --write

Update README.md (#306)
  README.md
Due: prettier --write

feat: pass variables into queries
  indexer/database/db_connect.py
  indexer/database/get_filtered_monthly_contributors_by_collection.sql
  indexer/database/get_monthly_commits_by_collection_after_first_star.sql
  indexer/database/get_monthly_events_by_collection.sql
Due: none

feat: pass variables into queries (#307)
  indexer/database/db_connect.py
  indexer/database/get_filtered_monthly_contributors_by_collection.sql
  indexer/database/get_monthly_commits_by_collection_after_first_star.sql
  indexer/database/get_monthly_events_by_collection.sql
Due: none

Fixes references to the docker package (#303)
  .github/scripts/load-cache.sh
  .github/scripts/write-cache.sh
Due: none

Fixes event pointer handling
  indexer/src/index.ts
  indexer/src/scheduler/pointers.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Add tests
  indexer/src/db/jobs.test.ts
  indexer/src/db/testing.ts
  indexer/src/recorder/recorder.test.ts
  indexer/src/scheduler/pointers.test.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fix event pointer handling (#314)
  indexer/src/db/jobs.test.ts
  indexer/src/db/testing.ts
  indexer/src/index.ts
  indexer/src/recorder/recorder.test.ts
  indexer/src/scheduler/pointers.test.ts
  indexer/src/scheduler/pointers.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Found some issues while examining commits
  indexer/src/actions/github/fetch/commits.ts
  indexer/src/scheduler/types.ts
  indexer/src/utils/ranges.test.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Bug fixes: Commits Error Handling (#316)
  indexer/src/actions/github/fetch/commits.ts
  indexer/src/scheduler/types.ts
  indexer/src/utils/ranges.test.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Migrate npm downloads collector
  indexer/src/events/npm.ts
  indexer/src/scheduler/index.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

NPM data working
  indexer/src/events/npm.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

clean up old code
  indexer/src/events/npm.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Make generic projects collector
  indexer/src/actions/github/fetch/commits.ts
  indexer/src/actions/github/fetch/common.ts
  indexer/src/recorder/recorder.ts
  indexer/src/recorder/types.ts
  indexer/src/scheduler/common.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Migrate NPM to Collector interface (#320)
  indexer/src/actions/github/fetch/commits.ts
  indexer/src/actions/github/fetch/common.ts
  indexer/src/events/npm.ts
  indexer/src/recorder/recorder.ts
  indexer/src/recorder/types.ts
  indexer/src/scheduler/common.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fixes handling of web-flow github user
  docker/test.sh
  indexer/contracts-v1.csv
  indexer/src/cacher/time-series.ts
  indexer/src/cli.ts
  indexer/src/db/data-source.ts
  indexer/src/db/events.test.ts
  indexer/src/db/events.ts
  indexer/src/db/testing.ts
  indexer/src/recorder/recorder.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Run integration tests in CI
  .github/workflows/ci-default.yml
Due: none

Ensure checkout of code in CI
  .github/workflows/ci-default.yml
Due: none

Change job name
  .github/workflows/ci-default.yml
Due: none

Add Pnpm
  .github/workflows/ci-default.yml
Due: none

only build indexer
  docker/install.sh
Due: none

Passthrough env
  docker/compose.yaml
Due: none

Fixes handling of web-flow github user (#321)
  .github/workflows/ci-default.yml
  docker/compose.yaml
  docker/install.sh
  docker/test.sh
  indexer/contracts-v1.csv
  indexer/src/cacher/time-series.ts
  indexer/src/cli.ts
  indexer/src/db/data-source.ts
  indexer/src/db/events.test.ts
  indexer/src/db/events.ts
  indexer/src/db/testing.ts
  indexer/src/recorder/recorder.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Path conditions:
  eslint --ignore-path .gitignore --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
