Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --write"
  ],
  "**/*.{md,json}": [
    "prettier --write"
  ]
}

Add tf for testing project
  .github/workflows/refresh-test-credentials.yml
  ops/tf-modules/test-project/README.md
  ops/tf-modules/test-project/main.tf
  ops/tf-modules/test-project/variables.tf
Due: prettier --write

add refreshing creds
  .github/workflows/ci-default.yml
  .github/workflows/refresh-test-credentials.yml
  ops/external-prs/package.json
  ops/external-prs/src/cli.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix
  .github/workflows/ci-default.yml
Due: none

fixes
  .github/workflows/ci-default.yml
  ops/external-prs/src/cli.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

update api key
  .github/workflows/ci-default.yml
Due: none

Fix ci default (#1076)
  .github/workflows/ci-default.yml
  .github/workflows/refresh-test-credentials.yml
  ops/external-prs/package.json
  ops/external-prs/src/cli.ts
  ops/tf-modules/test-project/README.md
  ops/tf-modules/test-project/main.tf
  ops/tf-modules/test-project/variables.tf
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

blog: update request for impact metrics with notebooks
  apps/docs/blog/2024-03-18-request-for-impact-metrics.md
  apps/docs/blog/2024-03-19-request-for-impact-metrics.md
Due: prettier --write

add: local run option
  apps/docs/blog/2024-03-19-request-for-impact-metrics.md
Due: prettier --write

Blog/impact metrics update (#1078)
  apps/docs/blog/2024-03-18-request-for-impact-metrics.md
  apps/docs/blog/2024-03-19-request-for-impact-metrics.md
Due: prettier --write

Fix handling of public vars
  .github/scripts/load-public-vars.sh
  .github/scripts/save-public-vars.sh
  .github/workflows/ci-default.yml
  .github/workflows/refresh-test-credentials.yml
  docker/public-vars.Dockerfile
Due: none

small fixes
  .github/workflows/test-deploy-owners.yml
Due: none

Fix handling of public vars (#1079)
  .github/scripts/load-public-vars.sh
  .github/scripts/save-public-vars.sh
  .github/workflows/ci-default.yml
  .github/workflows/refresh-test-credentials.yml
  .github/workflows/test-deploy-owners.yml
  docker/public-vars.Dockerfile
Due: none

testing
  .github/workflows/ci-default.yml
  .github/workflows/refresh-test-credentials.yml
Due: none

fix
  .github/workflows/refresh-test-credentials.yml
Due: none

blog: smol edits
  apps/docs/blog/2024-03-19-request-for-impact-metrics.md
Due: prettier --write

fix rotation
  .github/workflows/refresh-test-credentials.yml
  ops/external-prs/scripts/rotate-service-account.sh
Due: none

ghcr login
  .github/workflows/refresh-test-credentials.yml
Due: none

login
  .github/workflows/refresh-test-credentials.yml
Due: none

feat: parallelize server-side queries in project page render
  apps/frontend/app/project/[...slug]/page.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

more testing
  .github/workflows/refresh-test-credentials.yml
Due: none

feat: Pass in JWT token to the Apollo client
  apps/frontend/components/dataprovider/apollo-wrapper.tsx
  apps/frontend/components/dataprovider/event-data-provider.tsx
  apps/frontend/lib/clients/supabase.ts
  apps/frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

more
  .github/scripts/load-public-vars.sh
Due: none

fixes
  .github/scripts/load-public-vars.sh
Due: none

feat: /api/auth can decode JWT tokens and return user roles
  apps/frontend/app/api/auth/route.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: parallelize server-side queries in project page render (#1083)
  apps/frontend/app/project/[...slug]/page.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Public Vars still not getting loaded (#1080)
  .github/scripts/load-public-vars.sh
  .github/workflows/ci-default.yml
  .github/workflows/refresh-test-credentials.yml
  ops/external-prs/scripts/rotate-service-account.sh
Due: none

feat: Pass in JWT token to the Apollo client (#1084)
  apps/frontend/components/dataprovider/apollo-wrapper.tsx
  apps/frontend/components/dataprovider/event-data-provider.tsx
  apps/frontend/lib/clients/supabase.ts
  apps/frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: /api/auth can decode JWT tokens and return user roles (#1081)
  apps/frontend/app/api/auth/route.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

blog: smol edits (#1082)
  apps/docs/blog/2024-03-19-request-for-impact-metrics.md
Due: prettier --write

fix: remove pre-fetching artifacts and collections
  apps/frontend/app/project/[...slug]/page.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: ignoreNoAuth flag on auth-router
  apps/frontend/components/dataprovider/auth-router.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: remove pre-fetching artifacts and collections (#1087)
  apps/frontend/app/project/[...slug]/page.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: ignoreNoAuth flag on auth-router (#1088)
  apps/frontend/components/dataprovider/auth-router.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

blog: add submitting cta
  apps/docs/blog/2024-03-19-request-for-impact-metrics.md
Due: prettier --write

blog: add submitting cta (#1091)
  apps/docs/blog/2024-03-19-request-for-impact-metrics.md
Due: prettier --write

blog: add social media image
  apps/docs/blog/2024-03-20-request-for-impact-metrics/cycle.jpeg
  apps/docs/blog/2024-03-20-request-for-impact-metrics/index.md
Due: prettier --write

Blog/impact metrics cta (#1092)
  apps/docs/blog/2024-03-20-request-for-impact-metrics/cycle.jpeg
  apps/docs/blog/2024-03-20-request-for-impact-metrics/index.md
Due: prettier --write

docs: add csv download guide
  apps/docs/docs/integrate/data-science.md
  apps/docs/docs/integrate/gcp_save_results.png
Due: prettier --write

docs: add csv download guide (#1095)
  apps/docs/docs/integrate/data-science.md
  apps/docs/docs/integrate/gcp_save_results.png
Due: prettier --write
