Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

move time intervals and update trusted_transactions metric
  warehouse/dbt/models/intermediate/analyses/int_time_intervals.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__trusted_transactions.sql
  warehouse/dbt/models/intermediate/metrics/pms/int_pm_trusted_transactions.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add: code metric commits/prs/issue counts
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__commits_prs_issues.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add fulltime_developers
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__active_developers.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__commits_prs_issues.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__fulltime_developers_avg.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add: code contributor metrics
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__contributors.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__new_contributors.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

refactor: code_metrics_by_project tables
  warehouse/dbt/models/intermediate/metrics/int_code_metrics_by_project.sql
  warehouse/dbt/models/marts/metrics/code_metrics_by_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

refactor: pm metrics
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__bus_factor.sql
  warehouse/dbt/models/intermediate/metrics/pms/int_pm_busfactor_by_project.sql
  warehouse/dbt/models/intermediate/metrics/pms/int_pm_contracts_deployed.sql
  warehouse/dbt/models/intermediate/metrics/pms/int_pm_contributors.sql
  warehouse/dbt/models/intermediate/metrics/pms/int_pm_dev_months.sql
  warehouse/dbt/models/intermediate/metrics/pms/int_pm_new_contribs.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix projects join
  warehouse/dbt/models/intermediate/metrics/int_code_metrics_by_project.sql
  warehouse/dbt/models/intermediate/metrics/int_onchain_metrics_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Adds language to the github-repos resolver
  warehouse/cloudquery-github-resolve-repos/src/github/get-org-repos.ts
  warehouse/cloudquery-github-resolve-repos/src/tables.ts
Due: none

Adds language to the github-repos resolver (#1441)
  warehouse/cloudquery-github-resolve-repos/src/github/get-org-repos.ts
  warehouse/cloudquery-github-resolve-repos/src/tables.ts
Due: none

Add recce staging env preparation workflow
  .github/workflows/recce-staging-daily.yml
Due: none

Refine workflow
  .github/workflows/recce-staging-daily.yml
Due: none

add: display name and repo source to code metrics
  warehouse/dbt/models/intermediate/metrics/int_code_metrics_by_project.sql
  warehouse/dbt/models/marts/metrics/code_metrics_by_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Add recce ci workflow
  .github/workflows/recce-ci.yml
Due: none

remove outdated int models from users directory
  warehouse/dbt/models/intermediate/users/int_active_devs_monthly_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_address_totals_by_project.sql
  warehouse/dbt/models/intermediate/users/int_user_events_daily_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_user_events_daily_to_project.sql
  warehouse/dbt/models/intermediate/users/int_user_events_monthly_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_user_events_monthly_to_project.sql
  warehouse/dbt/models/intermediate/users/int_user_events_to_project_by_time_interval.sql
  warehouse/dbt/models/intermediate/users/int_users_monthly_to_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: ensure rf4 events only consider contract interactions
  warehouse/dbt/models/marts/superchain/rf4_events_daily_to_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

break metrics into smaller parts and finish refactor of metrics marts (#1438)
  warehouse/dbt/models/intermediate/analyses/int_time_intervals.sql
  warehouse/dbt/models/intermediate/events/int_time_intervals.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__active_developers.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__bus_factor.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__commits_prs_issues.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__contributors.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__fulltime_developers_avg.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__new_contributors.sql
  warehouse/dbt/models/intermediate/metrics/int_code_metrics_by_project.sql
  warehouse/dbt/models/intermediate/metrics/int_onchain_metrics_by_project.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__active_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__active_contracts.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__days_since_first_transaction.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__gas_fees.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__high_low_activity_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__multi_project_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__new_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__returning_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__transactions.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__trusted_transactions.sql
  warehouse/dbt/models/intermediate/metrics/pms/int_pm_busfactor_by_project.sql
  warehouse/dbt/models/intermediate/metrics/pms/int_pm_contracts_deployed.sql
  warehouse/dbt/models/intermediate/metrics/pms/int_pm_contributors.sql
  warehouse/dbt/models/intermediate/metrics/pms/int_pm_dev_months.sql
  warehouse/dbt/models/intermediate/metrics/pms/int_pm_new_contribs.sql
  warehouse/dbt/models/intermediate/metrics/pms/int_pm_trusted_transactions.sql
  warehouse/dbt/models/intermediate/users/int_active_devs_monthly_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_address_totals_by_project.sql
  warehouse/dbt/models/intermediate/users/int_user_events_daily_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_user_events_daily_to_project.sql
  warehouse/dbt/models/intermediate/users/int_user_events_monthly_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_user_events_monthly_to_project.sql
  warehouse/dbt/models/intermediate/users/int_user_events_to_project_by_time_interval.sql
  warehouse/dbt/models/intermediate/users/int_users_monthly_to_project.sql
  warehouse/dbt/models/marts/metrics/code_metrics_by_project_v1.sql
  warehouse/dbt/models/marts/metrics/onchain_metrics_by_project_v1.sql
  warehouse/dbt/models/marts/superchain/rf4_events_daily_to_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add: onchain verification script for testing
  warehouse/dbt/models/marts/superchain/rf4_project_verification.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add: onchain verification script for testing (#1444)
  warehouse/dbt/models/marts/superchain/rf4_project_verification.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

rename network as event_source
  warehouse/dbt/models/intermediate/metrics/int_onchain_metrics_by_project.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__active_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__active_contracts.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__days_since_first_transaction.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__gas_fees.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__high_low_activity_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__multi_project_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__new_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__returning_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__transactions.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__trusted_transactions.sql
  warehouse/dbt/models/marts/metrics/onchain_metrics_by_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Add triggering event
  .github/workflows/recce-ci.yml
Due: none

add event_source to code metrics models
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__active_developers.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__bus_factor.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__commits_prs_issues.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__contributors.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__fulltime_developers_average.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__new_contributors.sql
  warehouse/dbt/models/intermediate/metrics/int_code_metrics_by_project.sql
  warehouse/dbt/models/marts/metrics/code_metrics_by_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

bring artifact source from repo metrics into code metrics
  warehouse/dbt/models/intermediate/metrics/int_code_metrics_by_project.sql
  warehouse/dbt/models/intermediate/metrics/int_repo_metrics_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

bug: rename network to event_source
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__high_low_activity_addresses.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Disable debug logging on dagster
  ops/clusters/warehouse/flux-system/gotk-sync.yaml
  ops/k8s-apps/base/dagster/dagster.yaml
  ops/k8s-apps/base/dagster/proxy-for-deployments.yaml
  ops/k8s-apps/base/dagster/proxy-for-jobs.yaml
Due: none

final updates to v1 project metrics models (#1450)
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__active_developers.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__bus_factor.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__commits_prs_issues.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__contributors.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__fulltime_developers_average.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__new_contributors.sql
  warehouse/dbt/models/intermediate/metrics/int_code_metrics_by_project.sql
  warehouse/dbt/models/intermediate/metrics/int_onchain_metrics_by_project.sql
  warehouse/dbt/models/intermediate/metrics/int_repo_metrics_by_project.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__active_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__active_contracts.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__days_since_first_transaction.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__gas_fees.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__high_low_activity_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__multi_project_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__new_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__returning_addresses.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__transactions.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__trusted_transactions.sql
  warehouse/dbt/models/marts/metrics/code_metrics_by_project_v1.sql
  warehouse/dbt/models/marts/metrics/onchain_metrics_by_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Disable debug logging on dagster (#1451)
  ops/clusters/warehouse/flux-system/gotk-sync.yaml
  ops/k8s-apps/base/dagster/dagster.yaml
  ops/k8s-apps/base/dagster/proxy-for-deployments.yaml
  ops/k8s-apps/base/dagster/proxy-for-jobs.yaml
Due: none

Fix incorrect log config indentation
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

Fix incorrect log config indentation (#1452)
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

fix: update oss-directory in external PRs
  ops/external-prs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: update oss-directory in external PRs (#1453)
  ops/external-prs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fix goldsky checkpoint size
  warehouse/oso_dagster/goldsky.py
Due: none

Fix goldsky checkpoint size (#1454)
  warehouse/oso_dagster/goldsky.py
Due: none

add language to repo stats
  warehouse/dbt/models/intermediate/metrics/int_repo_metrics_by_project.sql
  warehouse/dbt/models/marts/superchain/rf4_repo_stats_by_project.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_repositories.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Reduce load size to debug bq failures
  ops/k8s-apps/base/dagster/kustomization.yaml
  warehouse/oso_dagster/goldsky.py
Due: none

fix: moving oss-artifact-validators to lib/
  lib/oss-artifact-validators/.eslintrc.json
  lib/oss-artifact-validators/README.md
  lib/oss-artifact-validators/package.json
  lib/oss-artifact-validators/src/common/config.ts
  lib/oss-artifact-validators/src/index.ts
  lib/oss-artifact-validators/src/onchain/evm.ts
  lib/oss-artifact-validators/test/test.ts
  lib/oss-artifact-validators/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

More debug configurations
  test_all.sh
  warehouse/oso_dagster/goldsky.py
Due: none

ravenac95/debug bigquery failures (#1459)
  ops/k8s-apps/base/dagster/kustomization.yaml
  test_all.sh
  warehouse/oso_dagster/goldsky.py
Due: none

fix: moving oss-artifact-validators to lib/ (#1458)
  lib/oss-artifact-validators/.eslintrc.json
  lib/oss-artifact-validators/README.md
  lib/oss-artifact-validators/package.json
  lib/oss-artifact-validators/src/common/config.ts
  lib/oss-artifact-validators/src/index.ts
  lib/oss-artifact-validators/src/onchain/evm.ts
  lib/oss-artifact-validators/test/test.ts
  lib/oss-artifact-validators/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fix load and pointer update are out of order
  warehouse/oso_dagster/goldsky.py
Due: none

Dagster Fixes: Load job out of order (#1460)
  warehouse/oso_dagster/goldsky.py
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run sqlfluff fix -f --dialect bigquery: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint --dialect bigquery: any of: warehouse/dbt/**/*.sql
