Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: match the validator key type from oss-directory networks
  ops/external-prs/src/ossd/index.ts
Due: none

fix: match the validator key type from oss-directory networks (#1584)
  ops/external-prs/src/ossd/index.ts
Due: none

feat: refactor external-prs to use oss-directory types
  ops/external-prs/package.json
  ops/external-prs/src/ossd/index.ts
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: refactor external-prs to use oss-directory types (#1586)
  ops/external-prs/package.json
  ops/external-prs/src/ossd/index.ts
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: factor out common.ts and errors.ts into a `utils` package
  apps/frontend/components/dataprovider/auth-router.tsx
  apps/frontend/components/dataprovider/event-data-provider.tsx
  apps/frontend/components/widgets/analytics.tsx
  apps/frontend/components/widgets/auth-actions.tsx
  apps/frontend/components/widgets/supabase-write.tsx
  apps/frontend/lib/clients/supabase.ts
  apps/frontend/lib/projects.ts
  apps/frontend/package.json
  lib/oss-artifact-validators/src/onchain/evm.ts
  lib/utils/.eslintrc.json
  lib/utils/README.md
  lib/utils/package.json
  lib/utils/src/common.ts
  lib/utils/src/errors.ts
  lib/utils/src/index.ts
  lib/utils/tsconfig.json
  ops/external-prs/package.json
  ops/external-prs/src/ossd/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: factor out common.ts and errors.ts into a `utils` package (#1587)
  apps/frontend/components/dataprovider/auth-router.tsx
  apps/frontend/components/dataprovider/event-data-provider.tsx
  apps/frontend/components/widgets/analytics.tsx
  apps/frontend/components/widgets/auth-actions.tsx
  apps/frontend/components/widgets/supabase-write.tsx
  apps/frontend/lib/clients/supabase.ts
  apps/frontend/lib/projects.ts
  apps/frontend/package.json
  lib/oss-artifact-validators/src/onchain/evm.ts
  lib/utils/.eslintrc.json
  lib/utils/README.md
  lib/utils/package.json
  lib/utils/src/common.ts
  lib/utils/src/errors.ts
  lib/utils/src/index.ts
  lib/utils/tsconfig.json
  ops/external-prs/package.json
  ops/external-prs/src/ossd/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: bug with validators
  ops/external-prs/.gitignore
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/utils/logger.ts
Due: none

fix: bug with validators (#1589)
  ops/external-prs/.gitignore
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/utils/logger.ts
Due: none

fix: Don't throw on missing validators
  ops/external-prs/README.md
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/queries/blockchain_status.sql
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: Don't throw on missing validators (#1591)
  ops/external-prs/README.md
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/queries/blockchain_status.sql
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: external-prs add warnings and successes
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/messages/validation-message.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: external-prs add warnings and successes (#1592)
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/messages/validation-message.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: update ossd schema version to 7 in docs
  apps/docs/docs/contribute/project-data.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: update ossd schema version to 7 in docs (#1594)
  apps/docs/docs/contribute/project-data.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: retry building indices until we see it in the DB
  warehouse/bq2cloudsql/cloudsql.py
  warehouse/bq2cloudsql/script.py
Due: none

feat: retry building indices until we see it in the DB (#1595)
  warehouse/bq2cloudsql/cloudsql.py
  warehouse/bq2cloudsql/script.py
Due: none

add: identify proxy interactions
  warehouse/dbt/macros/models/known_proxies.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: retry logic can silently just give up when creating indices
  warehouse/bq2cloudsql/cloudsql.py
Due: none

fix: retry logic can silently just give up when creating indices (#1598)
  warehouse/bq2cloudsql/cloudsql.py
Due: none

feat: any_evm addresses warns if you're tagging `contract`
  ops/external-prs/README.md
  ops/external-prs/package.json
  ops/external-prs/src/base.ts
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/templating.ts
  ops/external-prs/src/ossd/validation-results.ts
  pnpm-lock.yaml
  warehouse/cloudquery-oss-directory/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: any_evm addresses warns if you're tagging `contract` (#1599)
  ops/external-prs/README.md
  ops/external-prs/package.json
  ops/external-prs/src/base.ts
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/templating.ts
  ops/external-prs/src/ossd/validation-results.ts
  pnpm-lock.yaml
  warehouse/cloudquery-oss-directory/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

bug: Fix dataset permissions
  warehouse/oso_dagster/utils/bq.py
Due: none

bug: Fix dataset permissions (#1601)
  warehouse/oso_dagster/utils/bq.py
Due: none

add: proxy models for base and op
  warehouse/dbt/models/intermediate/blockchain/int_base_proxies.sql
  warehouse/dbt/models/intermediate/blockchain/int_optimism_proxies.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: include trace ids and get staging models to work
  warehouse/dbt/macros/models/known_proxies.sql
  warehouse/dbt/models/staging/base/stg_base__proxies.sql
  warehouse/dbt/models/staging/optimism/stg_optimism__proxies.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

chore: proxies for other networks
  warehouse/dbt/models/staging/frax/stg_frax__proxies.sql
  warehouse/dbt/models/staging/metal/stg_metal__proxies.sql
  warehouse/dbt/models/staging/mode/stg_mode__proxies.sql
  warehouse/dbt/models/staging/pgn/stg_pgn__proxies.sql
  warehouse/dbt/models/staging/zora/stg_zora__proxies.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: update proxy model to include to_ addresses
  warehouse/dbt/macros/models/known_proxies.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add: identify proxy interactions (#1597)
  warehouse/dbt/macros/models/known_proxies.sql
  warehouse/dbt/models/staging/base/stg_base__proxies.sql
  warehouse/dbt/models/staging/frax/stg_frax__proxies.sql
  warehouse/dbt/models/staging/metal/stg_metal__proxies.sql
  warehouse/dbt/models/staging/mode/stg_mode__proxies.sql
  warehouse/dbt/models/staging/optimism/stg_optimism__proxies.sql
  warehouse/dbt/models/staging/pgn/stg_pgn__proxies.sql
  warehouse/dbt/models/staging/zora/stg_zora__proxies.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

feat: adds int_safes model for superchain
  warehouse/dbt/models/intermediate/directory/int_safes.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: remove project events to a safe contract
  warehouse/dbt/macros/models/contract_invocation_events_with_l1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

feat: adds int_safes model for superchain (#1605)
  warehouse/dbt/macros/models/contract_invocation_events_with_l1.sql
  warehouse/dbt/models/intermediate/directory/int_safes.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

feat: staging model for current artifacts in ossd
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_artifacts.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Attempts to set the correct readonly values
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/_helpers.tpl
  ops/helm-charts/oso-dagster/values.yaml
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

Attempts to set the correct readonly values (#1607)
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/_helpers.tpl
  ops/helm-charts/oso-dagster/values.yaml
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

more readonly fixes
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

more readonly fixes (#1608)
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

refactor: int_all_artifacts from modular int models
  warehouse/dbt/models/intermediate/blockchain/int_safes.sql
  warehouse/dbt/models/intermediate/directory/int_all_artifacts.sql
  warehouse/dbt/models/intermediate/directory/int_contracts_by_project.sql
  warehouse/dbt/models/intermediate/directory/int_deployers_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Working fix for read only
  ops/clusters/warehouse/flux-system/gotk-sync.yaml
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/_helpers.tpl
  ops/helm-charts/oso-dagster/values.yaml
Due: none

reset to main
  ops/clusters/warehouse/flux-system/gotk-sync.yaml
Due: none

Proper read only fix (#1610)
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/_helpers.tpl
  ops/helm-charts/oso-dagster/values.yaml
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run sqlfluff fix -f --dialect bigquery: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint --dialect bigquery: any of: warehouse/dbt/**/*.sql
