Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --write"
  ],
  "**/*.{md,json}": [
    "prettier --write"
  ]
}

feat: int model for users by namespace
  warehouse/dbt/models/intermediate/contributors/int_users_by_namespace.sql
Due: none

fix: linting issues
  warehouse/dbt/models/intermediate/contributors/int_users_by_namespace.sql
Due: none

fix: linting (tested locally this time)
  warehouse/dbt/models/intermediate/contributors/int_users_by_namespace.sql
Due: none

fix: two spaces
  warehouse/dbt/models/intermediate/contributors/int_users_by_namespace.sql
Due: none

feat: create int_model for users by namespace (#1146)
  warehouse/dbt/models/intermediate/contributors/int_users_by_namespace.sql
Due: none

Adds sqlfluff to lintstaged
  .lintstagedrc
Due: none

Adds sqlfluff to lintstaged (#1147)
  .lintstagedrc
Due: none

docs: refactor data model and impact metrics sections
  apps/docs/docs/contribute/challenges/_category_.json
  apps/docs/docs/contribute/challenges/bounties.md
  apps/docs/docs/contribute/challenges/index.mdx
  apps/docs/docs/contribute/index.mdx
  apps/docs/docs/contribute/project-data.md
  apps/docs/docs/contribute/share-insights.md
  apps/docs/docs/how-oso-works/1_oss_directory.png
  apps/docs/docs/how-oso-works/2_artifacts.png
  apps/docs/docs/how-oso-works/3_events.png
  apps/docs/docs/how-oso-works/4_impact_metrics.png
  apps/docs/docs/how-oso-works/data-model/index.md
  apps/docs/docs/how-oso-works/event.md
  apps/docs/docs/how-oso-works/impact-metrics/code.md
  apps/docs/docs/how-oso-works/impact-metrics/dependencies.md
  apps/docs/docs/how-oso-works/impact-metrics/github_activity.md
  apps/docs/docs/how-oso-works/impact-metrics/github_contributors.md
  apps/docs/docs/how-oso-works/impact-metrics/npm_activity.md
  apps/docs/docs/how-oso-works/impact-metrics/onchain.md
  apps/docs/docs/how-oso-works/impact-metrics/onchain_users.md
  apps/docs/docs/how-oso-works/impact-metrics/package.md
  apps/docs/docs/how-oso-works/impact-metrics/vectors.mdx
  apps/docs/docs/how-oso-works/impact-vectors/_category_.json
  apps/docs/docs/how-oso-works/index.mdx
  apps/docs/docs/how-oso-works/mission.md
  apps/docs/docs/how-oso-works/oss-directory/_category_.json
  apps/docs/docs/how-oso-works/oss-directory/artifact.md
  apps/docs/docs/how-oso-works/oss-directory/collection.md
  apps/docs/docs/how-oso-works/oss-directory/index.md
  apps/docs/docs/how-oso-works/oss-directory/project.md
  apps/docs/docs/how-oso-works/oss-directory/schema-updates.md
  apps/docs/docs/integrate/data-science.md
Due: prettier --write

docs: refactor data model and impact metrics sections (#1152)
  apps/docs/docs/contribute/challenges/_category_.json
  apps/docs/docs/contribute/challenges/bounties.md
  apps/docs/docs/contribute/challenges/index.mdx
  apps/docs/docs/contribute/index.mdx
  apps/docs/docs/contribute/project-data.md
  apps/docs/docs/contribute/share-insights.md
  apps/docs/docs/how-oso-works/1_oss_directory.png
  apps/docs/docs/how-oso-works/2_artifacts.png
  apps/docs/docs/how-oso-works/3_events.png
  apps/docs/docs/how-oso-works/4_impact_metrics.png
  apps/docs/docs/how-oso-works/data-model/index.md
  apps/docs/docs/how-oso-works/event.md
  apps/docs/docs/how-oso-works/impact-metrics/code.md
  apps/docs/docs/how-oso-works/impact-metrics/dependencies.md
  apps/docs/docs/how-oso-works/impact-metrics/github_activity.md
  apps/docs/docs/how-oso-works/impact-metrics/github_contributors.md
  apps/docs/docs/how-oso-works/impact-metrics/npm_activity.md
  apps/docs/docs/how-oso-works/impact-metrics/onchain.md
  apps/docs/docs/how-oso-works/impact-metrics/onchain_users.md
  apps/docs/docs/how-oso-works/impact-metrics/package.md
  apps/docs/docs/how-oso-works/impact-metrics/vectors.mdx
  apps/docs/docs/how-oso-works/impact-vectors/_category_.json
  apps/docs/docs/how-oso-works/index.mdx
  apps/docs/docs/how-oso-works/mission.md
  apps/docs/docs/how-oso-works/oss-directory/_category_.json
  apps/docs/docs/how-oso-works/oss-directory/artifact.md
  apps/docs/docs/how-oso-works/oss-directory/collection.md
  apps/docs/docs/how-oso-works/oss-directory/index.md
  apps/docs/docs/how-oso-works/oss-directory/project.md
  apps/docs/docs/how-oso-works/oss-directory/schema-updates.md
  apps/docs/docs/integrate/data-science.md
Due: prettier --write

Adding a raw sources db for data collection
  ops/tf-modules/warehouse/main.tf
Due: none

Adding a raw sources dataset for data collection (#1153)
  ops/tf-modules/warehouse/main.tf
Due: none

refactor: events by source index on namespace not from_id
  warehouse/dbt/models/marts/events/daily/events_daily_to_artifact_by_source.sql
  warehouse/dbt/models/marts/events/daily/events_daily_to_collection_by_source.sql
  warehouse/dbt/models/marts/events/daily/events_daily_to_project_by_source.sql
  warehouse/dbt/models/marts/events/monthly/events_monthly_to_artifact_by_source.sql
  warehouse/dbt/models/marts/events/monthly/events_monthly_to_collection_by_source.sql
  warehouse/dbt/models/marts/events/monthly/events_monthly_to_project_by_source.sql
  warehouse/dbt/models/marts/events/weekly/events_weekly_to_artifact_by_source.sql
  warehouse/dbt/models/marts/events/weekly/events_weekly_to_collection_by_source.sql
  warehouse/dbt/models/marts/events/weekly/events_weekly_to_project_by_source.sql
Due: none

refactor: events by source index on namespace not from_id (#1154)
  warehouse/dbt/models/marts/events/daily/events_daily_to_artifact_by_source.sql
  warehouse/dbt/models/marts/events/daily/events_daily_to_collection_by_source.sql
  warehouse/dbt/models/marts/events/daily/events_daily_to_project_by_source.sql
  warehouse/dbt/models/marts/events/monthly/events_monthly_to_artifact_by_source.sql
  warehouse/dbt/models/marts/events/monthly/events_monthly_to_collection_by_source.sql
  warehouse/dbt/models/marts/events/monthly/events_monthly_to_project_by_source.sql
  warehouse/dbt/models/marts/events/weekly/events_weekly_to_artifact_by_source.sql
  warehouse/dbt/models/marts/events/weekly/events_weekly_to_collection_by_source.sql
  warehouse/dbt/models/marts/events/weekly/events_weekly_to_project_by_source.sql
Due: none

add: initial metrics models
  warehouse/dbt/models/marts/project_metrics/beta/busfactor_by_project.sql
  warehouse/dbt/models/marts/project_metrics/live/event_totals_by_project.sql
Due: none

fix: sql linting
  warehouse/dbt/models/marts/project_metrics/beta/busfactor_by_project.sql
  warehouse/dbt/models/marts/project_metrics/live/event_totals_by_project.sql
Due: none

fix: linting error
  warehouse/dbt/models/marts/project_metrics/live/event_totals_by_project.sql
Due: none

fix: missing select
  warehouse/dbt/models/marts/project_metrics/live/event_totals_by_project.sql
Due: none

fix: column order linting issue
  warehouse/dbt/models/marts/project_metrics/live/event_totals_by_project.sql
Due: none

docs: update impact metric spec
  apps/docs/docs/how-oso-works/impact-metrics/index.mdx
Due: none

update: package and components
  apps/docs/package.json
  apps/docs/plasmic.lock
  apps/docs/src/components/plasmic/Overview.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

add: initial metrics models (#1156)
  apps/docs/docs/how-oso-works/impact-metrics/index.mdx
  warehouse/dbt/models/marts/project_metrics/beta/busfactor_by_project.sql
  warehouse/dbt/models/marts/project_metrics/live/event_totals_by_project.sql
Due: none

docs: pointers for fresh dbt installs
  apps/docs/docs/contribute/impact-models.md
Due: prettier --write

package updates
  apps/docs/package.json
Due: prettier --write

add pnpm lock
  pnpm-lock.yaml
Due: none

docs: updates to wizard instructions (#1158)
  apps/docs/docs/contribute/impact-models.md
  apps/docs/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: event totals by project
  warehouse/dbt/models/marts/project_metrics/live/event_totals_by_project.sql
Due: none

update to busfactor logic
  warehouse/dbt/models/marts/project_metrics/beta/busfactor_by_project.sql
Due: none

minor updates to initial impact metrics (#1159)
  warehouse/dbt/models/marts/project_metrics/beta/busfactor_by_project.sql
  warehouse/dbt/models/marts/project_metrics/live/event_totals_by_project.sql
Due: none

add: user int models
  warehouse/dbt/models/intermediate/users/int_addresses_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_addresses_to_project.sql
  warehouse/dbt/models/intermediate/users/int_devs_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_devs_to_project.sql
  warehouse/dbt/models/intermediate/users/int_user_events_monthly_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_user_events_monthly_to_project.sql
Due: none

add: initial user marts
  warehouse/dbt/models/marts/users/active_devs_monthly_to_collection.sql
  warehouse/dbt/models/marts/users/active_devs_monthly_to_project.sql
  warehouse/dbt/models/marts/users/address_rfm_segments_by_project.sql
  warehouse/dbt/models/marts/users/new_users_monthly_to_project.sql
Due: none

fixes to existing marts (wip)
  warehouse/dbt/models/intermediate/contributors/int_devs.sql
  warehouse/dbt/models/intermediate/contributors/int_users.sql
  warehouse/dbt/models/intermediate/contributors/int_users_by_namespace.sql
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_collection.sql
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_project.sql
  warehouse/dbt/models/marts/events/users_monthly_to_project.sql
Due: none

refactor: simplify int user models
  warehouse/dbt/models/intermediate/users/int_addresses.sql
  warehouse/dbt/models/intermediate/users/int_addresses_to_collection.sql
  warehouse/dbt/models/intermediate/users/int_devs.sql
  warehouse/dbt/models/intermediate/users/int_devs_to_collection.sql
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_collection.sql
  warehouse/dbt/models/marts/users/address_rfm_segments_by_project.sql
  warehouse/dbt/models/marts/users/new_users_monthly_to_project.sql
Due: none

fix: linting 2
  warehouse/dbt/models/staging/oss-directory/stg_ossd__repositories_by_project.sql
Due: none

add artifact and project mini-marts
  warehouse/dbt/models/marts/directory/artifacts_by_project.sql
  warehouse/dbt/models/marts/directory/deployers_by_project.sql
  warehouse/dbt/models/marts/directory/github_repos_by_project.sql
  warehouse/dbt/models/marts/directory/projects.sql
Due: none

refactor: code metrics to use new mart - part 1
  warehouse/dbt/models/marts/code_metrics/code_metrics_by_project.sql
  warehouse/dbt/models/marts/directory/github_repos_by_project.sql
Due: none

add: active devs impact metrics
  warehouse/dbt/models/marts/project_metrics/live/pm_active_devs.sql
Due: none

rename dev months
  warehouse/dbt/models/marts/project_metrics/live/pm_dev_months.sql
Due: none

Starts github app utilities
  ops/github-app-utils/.eslintrc.json
  ops/github-app-utils/README.md
  ops/github-app-utils/package.json
  ops/github-app-utils/src/app.ts
  ops/github-app-utils/src/checks.ts
  ops/github-app-utils/src/cli.ts
  ops/github-app-utils/src/commands.ts
  ops/github-app-utils/src/error.ts
  ops/github-app-utils/src/index.ts
  ops/github-app-utils/src/logger.ts
  ops/github-app-utils/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fix bulid errors
  ops/github-app-utils/src/commands.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write
