Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

filter null deployers from mart
  warehouse/dbt/models/marts/directory/contracts_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

reduce contracts_v1 dimensions (#1532)
  warehouse/dbt/models/intermediate/directory/int_contracts.sql
  warehouse/dbt/models/marts/directory/contracts_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add: power user metric
  warehouse/dbt/models/marts/superchain/metrics/rf4_power_user_addresses.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

chore: add metric to consolidate model
  warehouse/dbt/models/marts/superchain/rf4_impact_metrics_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: linting in new metric
  warehouse/dbt/models/marts/superchain/metrics/rf4_power_user_addresses.sql
  warehouse/dbt/models/marts/superchain/rf4_impact_metrics_by_project__schema.yml
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

chore: update rf4 metrics blog post
  apps/docs/blog/2024-05-16-impact-metrics-rf4/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: power user metric (#1534)
  apps/docs/blog/2024-05-16-impact-metrics-rf4/index.md
  warehouse/dbt/models/marts/superchain/metrics/rf4_power_user_addresses.sql
  warehouse/dbt/models/marts/superchain/rf4_impact_metrics_by_project.sql
  warehouse/dbt/models/marts/superchain/rf4_impact_metrics_by_project__schema.yml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

feat: additional rf4 repo eligibility checks
  warehouse/dbt/models/intermediate/metrics/int_repo_metrics_by_project.sql
  warehouse/dbt/models/marts/superchain/metrics/rf4_monthly_active_addresses.sql
  warehouse/dbt/models/marts/superchain/metrics/rf4_trusted_monthly_active_users.sql
  warehouse/dbt/models/marts/superchain/rf4_repo_stats_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

chore: add repo checks to overall project checks
  warehouse/dbt/models/marts/superchain/rf4_project_verification.sql
  warehouse/dbt/models/marts/superchain/rf4_repo_stats_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: clean up todos
  warehouse/dbt/models/marts/superchain/rf4_project_verification.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: handling empty arrays
  warehouse/dbt/models/marts/superchain/rf4_project_verification.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

feat: additional rf4 repo eligibility checks (#1535)
  warehouse/dbt/models/intermediate/metrics/int_repo_metrics_by_project.sql
  warehouse/dbt/models/marts/superchain/metrics/rf4_monthly_active_addresses.sql
  warehouse/dbt/models/marts/superchain/metrics/rf4_trusted_monthly_active_users.sql
  warehouse/dbt/models/marts/superchain/rf4_project_verification.sql
  warehouse/dbt/models/marts/superchain/rf4_repo_stats_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

goldsky backfills and cleanup
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/factories/gcs.py
  warehouse/oso_dagster/goldsky.py
  warehouse/oso_dagster/utils/gcs.py
Due: none

feat: add ANY_EVM semantics to deployer crawling
  warehouse/dbt/models/intermediate/directory/int_artifacts_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

feat: add ANY_EVM semantics to deployer crawling (#1540)
  warehouse/dbt/models/intermediate/directory/int_artifacts_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: bump oss-directory 0.0.13 in external-prs
  ops/external-prs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: bump oss-directory 0.0.13 in external-prs (#1542)
  ops/external-prs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: removes artifact_type from artifacts, moves to a separate table
  warehouse/dbt/macros/models/contract_invocation_events_with_l1.sql
  warehouse/dbt/macros/models/filtered_blockchain_events.sql
  warehouse/dbt/models/intermediate/blockchain/int_optimism_contract_invocation_events.sql
  warehouse/dbt/models/intermediate/blockchain/int_optimism_transactions.sql
  warehouse/dbt/models/intermediate/directory/int_all_artifacts.sql
  warehouse/dbt/models/intermediate/directory/int_artifact_types.sql
  warehouse/dbt/models/intermediate/directory/int_artifacts.sql
  warehouse/dbt/models/intermediate/directory/int_artifacts_by_user.sql
  warehouse/dbt/models/intermediate/metrics/int_repo_metrics_by_project.sql
  warehouse/dbt/models/marts/directory/artifacts_by_project_v1.sql
  warehouse/dbt/models/marts/directory/artifacts_v1.sql
  warehouse/dbt/models/marts/superchain/rf4_events_daily_to_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: removes artifact_type from artifacts, moves to a separate table (#1543)
  warehouse/dbt/macros/models/contract_invocation_events_with_l1.sql
  warehouse/dbt/macros/models/filtered_blockchain_events.sql
  warehouse/dbt/models/intermediate/blockchain/int_optimism_contract_invocation_events.sql
  warehouse/dbt/models/intermediate/blockchain/int_optimism_transactions.sql
  warehouse/dbt/models/intermediate/directory/int_all_artifacts.sql
  warehouse/dbt/models/intermediate/directory/int_artifact_types.sql
  warehouse/dbt/models/intermediate/directory/int_artifacts.sql
  warehouse/dbt/models/intermediate/directory/int_artifacts_by_user.sql
  warehouse/dbt/models/intermediate/metrics/int_repo_metrics_by_project.sql
  warehouse/dbt/models/marts/directory/artifacts_by_project_v1.sql
  warehouse/dbt/models/marts/directory/artifacts_v1.sql
  warehouse/dbt/models/marts/superchain/rf4_events_daily_to_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: update to v4 of GitHub actions setup
  .github/workflows/ci-default.yml
  .github/workflows/deploy-dbt-docs.yml
  .github/workflows/deploy-docusaurus-docs.yml
  .github/workflows/deploy-hasura.yml
  .github/workflows/setup-external-pr-tools/action.yml
Due: none

fix: update to v4 of GitHub actions setup (#1544)
  .github/workflows/ci-default.yml
  .github/workflows/deploy-dbt-docs.yml
  .github/workflows/deploy-docusaurus-docs.yml
  .github/workflows/deploy-hasura.yml
  .github/workflows/setup-external-pr-tools/action.yml
Due: none

fix: Hasura deploy needs Python
  .github/workflows/deploy-hasura.yml
Due: none

fix: Hasura deploy needs Python (#1547)
  .github/workflows/deploy-hasura.yml
Due: none

docs: update impact metrics intro
  apps/docs/docs/how-oso-works/impact-metrics/index.mdx
Due: none

docs: post migration updates (#1548)
  apps/docs/docs/how-oso-works/impact-metrics/index.mdx
Due: none

Working backfill job
  warehouse/oso_dagster/factories/gcs.py
  warehouse/oso_dagster/goldsky.py
Due: none

smol edits
  apps/docs/docs/contribute/challenges/bounties.md
  apps/docs/docs/contribute/project-data.md
  apps/docs/docs/how-oso-works/impact-metrics/index.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: update code/onchain metrics docs
  apps/docs/docs/how-oso-works/impact-metrics/code.md
  apps/docs/docs/how-oso-works/impact-metrics/onchain.md
  apps/docs/docs/how-oso-works/impact-metrics/vectors.mdx
  warehouse/dbt/models/marts/metrics/metrics_v1__schema.yml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: model links to other docs
  apps/docs/docs/how-oso-works/ecosystems/arbitrum.md
  apps/docs/docs/how-oso-works/ecosystems/optimism.md
  apps/docs/docs/how-oso-works/ecosystems/pln.md
  apps/docs/docs/how-oso-works/ecosystems/superchain.md
  apps/docs/docs/how-oso-works/event.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

update docs to reflect latest models and style conventions (#1482)
  apps/docs/docs/contribute/challenges/bounties.md
  apps/docs/docs/contribute/project-data.md
  apps/docs/docs/how-oso-works/1_oss_directory.png
  apps/docs/docs/how-oso-works/ecosystems/arbitrum.md
  apps/docs/docs/how-oso-works/ecosystems/optimism.md
  apps/docs/docs/how-oso-works/ecosystems/pln.md
  apps/docs/docs/how-oso-works/ecosystems/superchain.md
  apps/docs/docs/how-oso-works/event.md
  apps/docs/docs/how-oso-works/impact-metrics/code.md
  apps/docs/docs/how-oso-works/impact-metrics/index.mdx
  apps/docs/docs/how-oso-works/impact-metrics/onchain.md
  apps/docs/docs/how-oso-works/impact-metrics/vectors.mdx
  apps/docs/docs/how-oso-works/oss-directory/collection.md
  apps/docs/docs/how-oso-works/oss-directory/project.md
  apps/docs/docs/integrate/api.md
  apps/docs/docs/integrate/oss-directory.md
  warehouse/dbt/models/marts/metrics/metrics_v1__schema.yml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: add oss checks (WIP) to rf4 metrics mart
  apps/docs/docs/how-oso-works/impact-metrics/index.mdx
  warehouse/dbt/models/marts/superchain/rf4_impact_metrics_by_project.sql
  warehouse/dbt/models/marts/superchain/rf4_project_verification.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Adds automated data check for block number
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/cbt/__init__.py
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/goldsky/__init__.py
  warehouse/oso_dagster/factories/goldsky/assets.py
  warehouse/oso_dagster/factories/goldsky/checks.py
  warehouse/oso_dagster/factories/goldsky/config.py
  warehouse/oso_dagster/factories/goldsky/dask.py
  warehouse/oso_dagster/factories/goldsky/queries/block_number_check.sql
Due: none

Goldsky Backfill and Automated Block number data checks (#1551)
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/cbt/__init__.py
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/gcs.py
  warehouse/oso_dagster/factories/goldsky/__init__.py
  warehouse/oso_dagster/factories/goldsky/assets.py
  warehouse/oso_dagster/factories/goldsky/checks.py
  warehouse/oso_dagster/factories/goldsky/config.py
  warehouse/oso_dagster/factories/goldsky/dask.py
  warehouse/oso_dagster/factories/goldsky/queries/block_number_check.sql
  warehouse/oso_dagster/utils/gcs.py
Due: none

feat: add oss checks (WIP) to rf4 metrics mart (#1550)
  apps/docs/docs/how-oso-works/impact-metrics/index.mdx
  warehouse/dbt/models/marts/superchain/rf4_impact_metrics_by_project.sql
  warehouse/dbt/models/marts/superchain/rf4_project_verification.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Fix cq oss-directory dep
  pnpm-lock.yaml
  warehouse/cloudquery-oss-directory/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fix cq oss-directory dep (#1552)
  pnpm-lock.yaml
  warehouse/cloudquery-oss-directory/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: small fixes to rf4 eligibility filtering
  warehouse/dbt/models/marts/superchain/rf4_project_verification.sql
  warehouse/dbt/models/marts/superchain/rf4_repo_stats_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: small fixes to rf4 eligibility filtering (#1553)
  warehouse/dbt/models/marts/superchain/rf4_project_verification.sql
  warehouse/dbt/models/marts/superchain/rf4_repo_stats_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

refactor int_artifacts_by_project
  warehouse/dbt/models/intermediate/directory/int_artifacts_by_project.sql
  warehouse/dbt/models/marts/directory/artifacts_by_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run sqlfluff fix -f --dialect bigquery: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint --dialect bigquery: any of: warehouse/dbt/**/*.sql
