Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: remove EventDataProvider
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: add caching to most GraphQL queries
  frontend/lib/graphql/queries.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: remove EventDataProvider (#532)
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: add caching to most GraphQL queries (#533)
  frontend/lib/graphql/queries.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: ProjectUserDataProvider
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/lib/graphql/queries.ts
  frontend/lib/types/db.ts
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: ProjectUserDataProvider (#534)
  frontend/components/dataprovider/event-data-provider.tsx
  frontend/lib/graphql/queries.ts
  frontend/lib/types/db.ts
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: script for refreshing mvs
  indexer/utilities/rpgf3-attestations/src/refresh_views.py
Due: none

feat: script for refreshing mvs (#535)
  indexer/utilities/rpgf3-attestations/src/refresh_views.py
Due: none

fix: add project slug as the key to table data
  frontend/app/api/project-event-aggregates/route.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: add project slug as the key to table data (#537)
  frontend/app/api/project-event-aggregates/route.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: add trim back to the right side of an area chart
  frontend/components/dataprovider/event-data-provider.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: add trim back to the right side of an area chart (#539)
  frontend/components/dataprovider/event-data-provider.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat(lists): parse official reviewer attestations
  indexer/utilities/rpgf3-attestations/src/fetch_from_eas.py
Due: none

refactor: logging and handling for duplicates
  indexer/utilities/rpgf3-attestations/src/analyze_apps.py
  indexer/utilities/rpgf3-attestations/src/canonical.py
  indexer/utilities/rpgf3-attestations/src/fetch_from_eas.py
  indexer/utilities/rpgf3-attestations/src/oss-directory.py
  indexer/utilities/rpgf3-attestations/src/oss_directory.py
  indexer/utilities/rpgf3-attestations/src/workflow.sh
Due: none

feat(lists): parse official reviewer attestations (#544)
  indexer/utilities/rpgf3-attestations/src/analyze_apps.py
  indexer/utilities/rpgf3-attestations/src/canonical.py
  indexer/utilities/rpgf3-attestations/src/fetch_from_eas.py
  indexer/utilities/rpgf3-attestations/src/oss-directory.py
  indexer/utilities/rpgf3-attestations/src/oss_directory.py
  indexer/utilities/rpgf3-attestations/src/workflow.sh
Due: none

Fix daily-contract-usage factories retreival
  .github/scripts/backfill.sh
  .github/workflows/indexer-create-backfill-job.yml
  indexer/src/cli.ts
  indexer/src/collectors/dune-daily-contract-usage.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix naming
  indexer/src/cli.ts
  indexer/src/scheduler/index.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fix daily-contract-usage factories retreival (#548)
  .github/scripts/backfill.sh
  .github/workflows/indexer-create-backfill-job.yml
  indexer/src/cli.ts
  indexer/src/collectors/dune-daily-contract-usage.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fixes variable interpolation
  .github/scripts/backfill.sh
Due: none

Fixes variable interpolation (#549)
  .github/scripts/backfill.sh
Due: none

fix: update rpgf3 uids
  indexer/utilities/rpgf3-attestations/src/fetch_from_eas.py
  indexer/utilities/rpgf3-attestations/src/oss_directory.py
Due: none

fix: update rpgf3 uids (#550)
  indexer/utilities/rpgf3-attestations/src/fetch_from_eas.py
  indexer/utilities/rpgf3-attestations/src/oss_directory.py
Due: none

Update README.md
  README.md
Due: prettier --write

Update README.md (#552)
  README.md
Due: prettier --write

Update README.md (#553)
  README.md
Due: prettier --write

feat: add /oso-interest to redirect to Google Form
  frontend/next.config.js
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: add /oso-interest to redirect to Google Form (#554)
  frontend/next.config.js
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

adds application_name to db connection
  .github/scripts/backfill.sh
  .github/workflows/deploy-indexer.yml
  .github/workflows/indexer-create-job.yml
  .github/workflows/indexer-import-oss-directory.yml
  .github/workflows/indexer-queue.yml
  .github/workflows/indexer-worker/action.yml
  indexer/src/config.ts
  indexer/src/db/data-source.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

adds application_name to db connection (#555)
  .github/scripts/backfill.sh
  .github/workflows/deploy-indexer.yml
  .github/workflows/indexer-create-job.yml
  .github/workflows/indexer-import-oss-directory.yml
  .github/workflows/indexer-queue.yml
  .github/workflows/indexer-worker/action.yml
  indexer/src/config.ts
  indexer/src/db/data-source.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix shell invocation
  .github/workflows/indexer-worker/action.yml
Due: none

fix shell invocation (#556)
  .github/workflows/indexer-worker/action.yml
Due: none

Update ci-default.yml
  .github/workflows/ci-default.yml
Due: none

Update ci-default.yml (#557)
  .github/workflows/ci-default.yml
Due: none

removes db synchronize by default
  indexer/src/config.ts
  indexer/src/db/data-source.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

add comment
  indexer/src/config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

removes db synchronize by default (#558)
  indexer/src/config.ts
  indexer/src/db/data-source.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: minor changes to MV refreshing logs
  indexer/utilities/rpgf3-attestations/src/refresh_views.py
Due: none

feat: TableDataProvider
  frontend/app/api/project-event-aggregates/route.ts
  frontend/components/dataprovider/table-data-provider.tsx
  frontend/lib/common.ts
  frontend/lib/graphql/cached-queries.ts
  frontend/lib/graphql/queries.ts
  frontend/lib/types/errors.ts
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: TableDataProvider (#564)
  frontend/app/api/project-event-aggregates/route.ts
  frontend/components/dataprovider/table-data-provider.tsx
  frontend/lib/common.ts
  frontend/lib/graphql/cached-queries.ts
  frontend/lib/graphql/queries.ts
  frontend/lib/types/errors.ts
  frontend/plasmic-init-client.tsx
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Path conditions:
  eslint --ignore-path .gitignore --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
