Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --write"
  ],
  "**/*.{md,json}": [
    "prettier --write"
  ]
}

More pipeline debugging
  .github/scripts/start-redis.sh
Due: none

More pipeline debugging (#657)
  .github/scripts/start-redis.sh
Due: none

fix: address mappings and MVs
  indexer/utilities/rpgf3-attestations/src/oss_directory.py
  indexer/utilities/rpgf3-attestations/src/refresh_views.py
Due: none

feat: generate table of lists from attestations
  indexer/utilities/rpgf3-attestations/src/tablist.py
Due: none

Dependency collection working
  indexer/package.json
  indexer/src/collectors/dependents.ts
  indexer/src/collectors/github-followers.ts
  indexer/src/collectors/github/common.ts
  indexer/src/collectors/github/multiplex-graphql.ts
  indexer/src/db/data-source.ts
  indexer/src/db/migration/1701159604199-add-repo-deps.ts
  indexer/src/db/migration/1701215135932-add-project-package-dependency-view.ts
  indexer/src/db/orm-entities.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/pointers.ts
  indexer/src/scheduler/types.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Dependency Collection For Repos (#661)
  indexer/package.json
  indexer/src/collectors/dependents.ts
  indexer/src/collectors/github-followers.ts
  indexer/src/collectors/github/common.ts
  indexer/src/collectors/github/multiplex-graphql.ts
  indexer/src/db/data-source.ts
  indexer/src/db/migration/1701159604199-add-repo-deps.ts
  indexer/src/db/migration/1701215135932-add-project-package-dependency-view.ts
  indexer/src/db/orm-entities.ts
  indexer/src/scheduler/index.ts
  indexer/src/scheduler/pointers.ts
  indexer/src/scheduler/types.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: generate csv export
  indexer/utilities/rpgf3-attestations/src/tablist.py
Due: none

feat: table of RPGF3 lists (#660)
  indexer/utilities/rpgf3-attestations/src/oss_directory.py
  indexer/utilities/rpgf3-attestations/src/refresh_views.py
  indexer/utilities/rpgf3-attestations/src/tablist.py
Due: none

fix: handle revocation edge case for geth
  indexer/utilities/rpgf3-attestations/src/fetch_from_eas.py
Due: none

fix: handle revocation edge case for geth (#662)
  indexer/utilities/rpgf3-attestations/src/fetch_from_eas.py
Due: none

Use X_GITHUB_TOKEN as primary token for workers
  .github/scripts/scheduler.sh
  .github/workflows/indexer-worker-dune.yml
  .github/workflows/indexer-worker-github.yml
  .github/workflows/indexer-worker-npm.yml
  .github/workflows/indexer-worker.yml
Due: none

Use X_GITHUB_TOKEN as primary token for workers (#663)
  .github/scripts/scheduler.sh
  .github/workflows/indexer-worker-dune.yml
  .github/workflows/indexer-worker-github.yml
  .github/workflows/indexer-worker-npm.yml
  .github/workflows/indexer-worker.yml
Due: none

small fixes for event dupes
  indexer/src/collectors/github-issues.ts
  indexer/src/collectors/npm-downloads.ts
  indexer/src/db/jobs.ts
  indexer/src/recorder/recorder.test.ts
  indexer/src/recorder/recorder.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Small fixes for event dupes and backfill scheduling (#666)
  indexer/src/collectors/github-issues.ts
  indexer/src/collectors/npm-downloads.ts
  indexer/src/db/jobs.ts
  indexer/src/recorder/recorder.test.ts
  indexer/src/recorder/recorder.ts
  indexer/src/scheduler/types.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

create gh action to clear cache
  .github/workflows/indexer-clear-cache.yml
Due: none

create gh action to clear cache (#667)
  .github/workflows/indexer-clear-cache.yml
Due: none

fix cache clearing
  .github/workflows/indexer-clear-cache.yml
Due: none

fix resetTime settings
  indexer/src/collectors/github/common.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

login to docker
  .github/workflows/indexer-clear-cache.yml
Due: none

fix npm-downloads issue due to artifact downloads
  indexer/src/collectors/npm-downloads.ts
  indexer/src/recorder/recorder.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

nits
  indexer/src/recorder/recorder.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fixes NPM Caching issues (#668)
  .github/workflows/indexer-clear-cache.yml
  indexer/src/collectors/github/common.ts
  indexer/src/collectors/npm-downloads.ts
  indexer/src/recorder/recorder.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Add blockchain artifact urls
  indexer/src/collectors/dune-daily-contract-usage.ts
  indexer/src/collectors/dune-funding-events.ts
  indexer/src/db/entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Add blockchain artifact urls (#670)
  indexer/src/collectors/dune-daily-contract-usage.ts
  indexer/src/collectors/dune-funding-events.ts
  indexer/src/db/entities.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Speed up dependent collector
  indexer/src/collectors/dependents.ts
  indexer/src/scheduler/index.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Speed up dependent collector (#671)
  indexer/src/collectors/dependents.ts
  indexer/src/scheduler/index.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: tablist error handling
  indexer/utilities/rpgf3-attestations/src/tablist.py
Due: none

fix: tablist error handling (#677)
  indexer/utilities/rpgf3-attestations/src/tablist.py
Due: none

Fixes indexer execution errors
  indexer/package.json
Due: prettier --write

Docker integration test fixes
  docker/Dockerfile
  docker/install.sh
Due: none

fixes integration test issues
  docker/compose.yaml
  docker/install.sh
Due: none

Fixes indexer execution errors (#679)
  docker/Dockerfile
  docker/compose.yaml
  docker/install.sh
  indexer/package.json
Due: prettier --write

mark removed collections as deleted
  indexer/src/collectors/import-oss-directory.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix date
  indexer/src/collectors/import-oss-directory.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Mark deprecated collections as deleted (#688)
  indexer/src/collectors/import-oss-directory.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

if we get nans now it would only be in truly exceptional situations
  indexer/src/collectors/dune/daily-contract-usage/client.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fix number handling for dune (#689)
  indexer/src/collectors/dune/daily-contract-usage/client.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

add: hello world post
  docs/blog/2023-11-07-open-source-open-data-open-infra.md
Due: prettier --write
