Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --write"
  ],
  "**/*.{md,json}": [
    "prettier --write"
  ]
}

fix: don't make OSO_API_KEY required on frontend
  apps/frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: don't make OSO_API_KEY required
  apps/frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fix/key (#1066)
  apps/frontend/lib/config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Initial testing setup for external prs
  ops/external-prs/.eslintrc.json
  ops/external-prs/README.md
  ops/external-prs/package.json
  ops/external-prs/src/index.ts
  ops/external-prs/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

updates to load priv key from base64
  ops/external-prs/src/index.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

attempt to setup local supabase
  .github/workflows/ci-default.yml
  apps/frontend/supabase/migrations/20240209235914_hasura_claim.sql
Due: none

fix
  .github/workflows/ci-default.yml
Due: none

more supabase testing
  .github/scripts/run-supabase-local.sh
  .github/workflows/ci-default.yml
Due: none

fix
  .github/scripts/run-supabase-local.sh
Due: none

update ignore
  .gitignore
Due: none

fix
  .gitignore
  pnpm-lock.yaml
Due: none

Add inline docs
  apps/frontend/supabase/migrations/20240209235914_hasura_claim.sql
Due: none

additional testing for external-prs lib
  ops/external-prs/src/index.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

add CODEOWNERS
  .github/CODEOWNERS
Due: none

Testing External PR (Github App) (#1064)
  .github/CODEOWNERS
  .github/scripts/run-supabase-local.sh
  .github/workflows/ci-default.yml
  .gitignore
  apps/frontend/supabase/migrations/20240209235914_hasura_claim.sql
  ops/external-prs/.eslintrc.json
  ops/external-prs/README.md
  ops/external-prs/package.json
  ops/external-prs/src/index.ts
  ops/external-prs/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: wire up the new project page
  apps/frontend/app/api/auth/route.ts
  apps/frontend/app/project/[...slug]/page.tsx
  apps/frontend/components/dataprovider/event-data-provider.tsx
  apps/frontend/lib/graphql/cached-queries.ts
  apps/frontend/lib/graphql/queries.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

feat: wire up the new project page (#1067)
  apps/frontend/app/api/auth/route.ts
  apps/frontend/app/project/[...slug]/page.tsx
  apps/frontend/components/dataprovider/event-data-provider.tsx
  apps/frontend/lib/graphql/cached-queries.ts
  apps/frontend/lib/graphql/queries.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

docs: data science refactor draft
  apps/docs/docs/integrate/data-science.md
Due: prettier --write

add: do data science docs
  apps/docs/docs/integrate/data-science.md
Due: prettier --write

add: draft impact metrics blog
  apps/docs/blog/2024-03-18-request-for-impact-metrics.md
Due: prettier --write

update: impact metrics blog
  apps/docs/blog/2024-03-18-request-for-impact-metrics.md
Due: prettier --write

blog: request for impact metrics (#1046)
  apps/docs/blog/2024-03-12-impact-data-scientists.mdx
  apps/docs/blog/2024-03-18-request-for-impact-metrics.md
  apps/docs/docs/integrate/data-science.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update pipelines
  .github/workflows/ci-default.yml
  .github/workflows/external-prs-handle-commit.yml
  .github/workflows/setup-external-pr-tools/action.yml
  .github/workflows/test-deploy/action.yml
  ops/external-prs/package.json
  ops/external-prs/src/checks.ts
  ops/external-prs/src/cli.ts
  ops/external-prs/src/utils/logger.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Still a work in progress
  .github/workflows/external-prs-handle-comment.yml
  .github/workflows/external-prs-handle-commit.yml
  ops/external-prs/package.json
  ops/external-prs/src/cli.ts
  ops/external-prs/src/utils/error.ts
  ops/external-prs/src/utils/logger.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Move things to a pull_request_target event
  .github/workflows/ci-default.yml
  .github/workflows/test-deploy-owners.yml
  .github/workflows/test-deploy/action.yml
Due: none

fix
  .github/workflows/test-deploy-owners.yml
Due: none

fix
  ops/external-prs/package.json
Due: prettier --write

External PR Handling Tools (#1068)
  .github/workflows/ci-default.yml
  .github/workflows/external-prs-handle-comment.yml
  .github/workflows/setup-external-pr-tools/action.yml
  .github/workflows/test-deploy-owners.yml
  .github/workflows/test-deploy/action.yml
  ops/external-prs/package.json
  ops/external-prs/src/checks.ts
  ops/external-prs/src/cli.ts
  ops/external-prs/src/utils/error.ts
  ops/external-prs/src/utils/logger.ts
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Proper pr targeting
  .github/workflows/test-deploy-owners.yml
Due: none

Proper pr targeting (#1072)
  .github/workflows/test-deploy-owners.yml
Due: none

More test-deploy-owner workflow fixes
  .github/workflows/test-deploy-owners.yml
Due: none

More test-deploy-owner workflow fixes (#1073)
  .github/workflows/test-deploy-owners.yml
Due: none

Use new external prs env
  .github/workflows/test-deploy-owners.yml
Due: none

Use new external prs env (#1074)
  .github/workflows/test-deploy-owners.yml
Due: none

Fix comment parsing action
  .github/workflows/external-prs-handle-comment.yml
Due: none

Fix comment parsing action (#1075)
  .github/workflows/external-prs-handle-comment.yml
Due: none

small fixes
  ops/external-prs/src/cli.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

temp: remove secrets
  .github/workflows/ci-default.yml
Due: none
