Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

refactor int_artifacts_by_project (#1558)
  warehouse/dbt/models/intermediate/directory/int_artifacts_by_project.sql
  warehouse/dbt/models/marts/directory/artifacts_by_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Adds some operations to debug goldsky data dumps
  warehouse/oso_dagster/factories/goldsky/assets.py
Due: none

Adds some operations to debug goldsky data dumps (#1559)
  warehouse/oso_dagster/factories/goldsky/assets.py
Due: none

Fixes event filtering for any_evm
  warehouse/dbt/macros/models/contract_invocation_events_with_l1.sql
  warehouse/dbt/models/intermediate/blockchain/int_optimism_contract_invocation_events.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Fixes event filtering for any_evm (#1561)
  warehouse/dbt/macros/models/contract_invocation_events_with_l1.sql
  warehouse/dbt/models/intermediate/blockchain/int_optimism_contract_invocation_events.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Also include any_evm in filtered events
  warehouse/dbt/macros/models/filtered_blockchain_events.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

More fixes for any_evm
  .github/workflows/warehouse-publish-docker-containers.yml
  docker/images/dagster-dask/Dockerfile
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/constants.py
Due: none

docs: add fil retropgf reflections
  apps/docs/blog/2024-05-30-fil-retropgf-1/community-edu-distr.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/fil-banner.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/fil-distr.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/impact-roi.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/index.md
  apps/docs/blog/2024-05-30-fil-retropgf-1/infra-distr.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/links-all.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/links-project.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/op-rpgf3-distr.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/oso-distr.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/sankey-devs.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/sankey-funding.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/tooling-distr.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/vote-stripplot.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/vote_distribution.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

blog: fil retropgf reflections (#1564)
  apps/docs/blog/2024-05-30-fil-retropgf-1/community-edu-distr.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/fil-banner.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/fil-distr.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/impact-roi.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/index.md
  apps/docs/blog/2024-05-30-fil-retropgf-1/infra-distr.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/links-all.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/links-project.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/op-rpgf3-distr.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/oso-distr.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/sankey-devs.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/sankey-funding.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/tooling-distr.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/vote-stripplot.png
  apps/docs/blog/2024-05-30-fil-retropgf-1/vote_distribution.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix formatting issue
  apps/docs/blog/2024-05-30-fil-retropgf-1/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

blog: fix formatting issue (#1565)
  apps/docs/blog/2024-05-30-fil-retropgf-1/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Other updates to fix any_evm handling
  warehouse/dbt/macros/models/contract_invocation_events_with_l1.sql
  warehouse/dbt/models/intermediate/blockchain/int_optimism_contract_invocation_events.sql
  warehouse/dbt/models/intermediate/events/int_events.sql
  warehouse/dbt/models/intermediate/events/int_events_with_artifact_id.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

workflow updates
  .github/workflows/warehouse-publish-docker-containers.yml
Due: none

More `ANY_EVM` fixes (#1566)
  .github/workflows/warehouse-publish-docker-containers.yml
  docker/images/dagster-dask/Dockerfile
  warehouse/dbt/macros/models/contract_invocation_events_with_l1.sql
  warehouse/dbt/macros/models/filtered_blockchain_events.sql
  warehouse/dbt/models/intermediate/blockchain/int_optimism_contract_invocation_events.sql
  warehouse/dbt/models/intermediate/events/int_events.sql
  warehouse/dbt/models/intermediate/events/int_events_with_artifact_id.sql
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/constants.py
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Fix docker publishing
  .github/workflows/warehouse-publish-docker-containers.yml
Due: none

feat: build indices for mart models
  .env.example
  warehouse/bq2cloudsql/README.md
  warehouse/bq2cloudsql/cloudsql.py
  warehouse/bq2cloudsql/script.py
  warehouse/bq2cloudsql/synchronizer.py
  warehouse/dbt/models/marts/directory/artifacts_by_project_v1.sql
  warehouse/dbt/models/marts/directory/artifacts_v1.sql
  warehouse/dbt/models/marts/directory/collections_v1.sql
  warehouse/dbt/models/marts/directory/contracts_v1.sql
  warehouse/dbt/models/marts/directory/projects_by_collection_v1.sql
  warehouse/dbt/models/marts/directory/projects_v1.sql
  warehouse/dbt/models/marts/directory/users_v1.sql
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

feat: build indices for mart models (#1567)
  .env.example
  warehouse/bq2cloudsql/README.md
  warehouse/bq2cloudsql/cloudsql.py
  warehouse/bq2cloudsql/script.py
  warehouse/bq2cloudsql/synchronizer.py
  warehouse/dbt/models/marts/directory/artifacts_by_project_v1.sql
  warehouse/dbt/models/marts/directory/artifacts_v1.sql
  warehouse/dbt/models/marts/directory/collections_v1.sql
  warehouse/dbt/models/marts/directory/contracts_v1.sql
  warehouse/dbt/models/marts/directory/projects_by_collection_v1.sql
  warehouse/dbt/models/marts/directory/projects_v1.sql
  warehouse/dbt/models/marts/directory/users_v1.sql
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: read-only Dagster at dagster.opensource.observer
  ops/helm-charts/oso-dagster/templates/_helpers.tpl
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

blog: small copy edits and corrections
  apps/docs/blog/2024-05-30-fil-retropgf-1/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

blog: small copy edits and corrections (#1569)
  apps/docs/blog/2024-05-30-fil-retropgf-1/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add metal data sources
  warehouse/oso_dagster/assets.py
Due: none

add metal data sources (#1570)
  warehouse/oso_dagster/assets.py
Due: none

fix: read-only Dagster at dagster.opensource.observer (#1568)
  ops/helm-charts/oso-dagster/templates/_helpers.tpl
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

fix: replaces to_ with from_ address
  warehouse/dbt/macros/models/contract_invocation_events_with_l1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: replaces to_ with from_ address (#1572)
  warehouse/dbt/macros/models/contract_invocation_events_with_l1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Setup metal sources
  warehouse/dbt/models/base_playground_sources.yml
  warehouse/dbt/models/intermediate/blockchain/int_metal_contract_invocation_events.sql
  warehouse/dbt/models/intermediate/blockchain/int_metal_traces.sql
  warehouse/dbt/models/intermediate/blockchain/int_metal_transactions.sql
  warehouse/dbt/models/metal_sources.yml
  warehouse/dbt/models/playground_sources.yml
  warehouse/dbt/models/staging/base/stg_base__proxies.sql
  warehouse/dbt/models/staging/metal/stg_metal__deployers.sql
  warehouse/dbt/models/staging/metal/stg_metal__factories.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Setup safes in the proxies query
  warehouse/dbt/macros/models/known_proxies.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add: metal models
  warehouse/dbt/models/base_playground_sources.yml
  warehouse/dbt/models/intermediate/blockchain/int_metal_contract_invocation_events.sql
  warehouse/dbt/models/intermediate/blockchain/int_metal_traces.sql
  warehouse/dbt/models/intermediate/blockchain/int_metal_transactions.sql
  warehouse/dbt/models/intermediate/events/int_events.sql
  warehouse/dbt/models/metal_sources.yml
  warehouse/dbt/models/playground_sources.yml
  warehouse/dbt/models/staging/metal/stg_metal__deployers.sql
  warehouse/dbt/models/staging/metal/stg_metal__factories.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add: metal to contracts directory
  warehouse/dbt/models/intermediate/directory/int_contracts.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

chore: update docs for any_evm tags
  apps/docs/docs/contribute/project-data.md
  apps/docs/docs/how-oso-works/oss-directory/artifact.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: update docs for any_evm tags (#1577)
  apps/docs/docs/contribute/project-data.md
  apps/docs/docs/how-oso-works/oss-directory/artifact.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: remove arachnid signer from factories table
  warehouse/dbt/macros/models/factory_deployments.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: where clause typo
  warehouse/dbt/macros/models/factory_deployments.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: make sure addresses are lower case
  warehouse/dbt/macros/models/factory_deployments.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: remove arachnid signer from factories table (#1578)
  warehouse/dbt/macros/models/factory_deployments.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

adds: models for metal chain (#1576)
  warehouse/dbt/models/base_playground_sources.yml
  warehouse/dbt/models/intermediate/blockchain/int_metal_contract_invocation_events.sql
  warehouse/dbt/models/intermediate/blockchain/int_metal_traces.sql
  warehouse/dbt/models/intermediate/blockchain/int_metal_transactions.sql
  warehouse/dbt/models/intermediate/directory/int_contracts.sql
  warehouse/dbt/models/intermediate/events/int_events.sql
  warehouse/dbt/models/metal_sources.yml
  warehouse/dbt/models/playground_sources.yml
  warehouse/dbt/models/staging/metal/stg_metal__deployers.sql
  warehouse/dbt/models/staging/metal/stg_metal__factories.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

blog: add sankey to show dev months for specific repos
  apps/docs/blog/2024-05-30-fil-retropgf-1/index.md
  apps/docs/blog/2024-05-30-fil-retropgf-1/sankey-devs-zoom.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

blog: add sankey to show dev months for specific repos (#1579)
  apps/docs/blog/2024-05-30-fil-retropgf-1/index.md
  apps/docs/blog/2024-05-30-fil-retropgf-1/sankey-devs-zoom.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: Add any_evm and base validators to PR GitHub app
  .github/workflows/test-deploy-owners.yml
  lib/oss-artifact-validators/src/onchain/evm.ts
  ops/external-prs/.env.example
  ops/external-prs/src/ossd/index.ts
Due: none

fix: Add any_evm and base validators to PR GitHub app (#1581)
  .github/workflows/test-deploy-owners.yml
  lib/oss-artifact-validators/src/onchain/evm.ts
  ops/external-prs/.env.example
  ops/external-prs/src/ossd/index.ts
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run sqlfluff fix -f --dialect bigquery: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint --dialect bigquery: any of: warehouse/dbt/**/*.sql
