Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --write"
  ],
  "**/*.{md,json}": [
    "prettier --write"
  ]
}

feat: update Algolia IDs (#731)
  docs/docusaurus.config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: turn off contextualSearch on algolia
  docs/docusaurus.config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix: turn off contextualSearch on algolia (#737)
  docs/docusaurus.config.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

update oss-directory dep
  indexer/package.json
  pnpm-lock.yaml
Due: prettier --write

update oss-directory dep (#738)
  indexer/package.json
  pnpm-lock.yaml
Due: prettier --write

starting experiments with airbyte connectors
  .dockerignore
  connectors/github-resolve-repos/.eslintrc.json
  connectors/github-resolve-repos/README.md
  connectors/github-resolve-repos/package.json
  connectors/github-resolve-repos/src/index.ts
  connectors/github-resolve-repos/src/resources/schemas/repository.json
  connectors/github-resolve-repos/src/resources/spec.json
  connectors/github-resolve-repos/src/streams/get-org-repos.ts
  connectors/github-resolve-repos/src/streams/getPath.ts
  connectors/github-resolve-repos/src/streams/graphql-client.ts
  connectors/github-resolve-repos/src/streams/index.ts
  connectors/github-resolve-repos/src/streams/repositories.ts
  connectors/github-resolve-repos/src/streams/unpaginate.ts
  connectors/github-resolve-repos/tsconfig.json
  connectors/oss-directory/.eslintrc.json
  connectors/oss-directory/README.md
  connectors/oss-directory/config.test.json
  connectors/oss-directory/package.json
  connectors/oss-directory/src/index.ts
  connectors/oss-directory/src/resources/spec.json
  connectors/oss-directory/src/streams/artifacts.ts
  connectors/oss-directory/src/streams/base.ts
  connectors/oss-directory/src/streams/collections.ts
  connectors/oss-directory/src/streams/index.ts
  connectors/oss-directory/src/streams/projects.ts
  connectors/oss-directory/tsconfig.json
  docker/deploy-connector.sh
  docker/ts-connector.Dockerfile
  package.json
  pnpm-workspace.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

copy pasta work in progress
  connectors/github-resolve-repos-cq/.eslintrc.json
  connectors/github-resolve-repos-cq/README.md
  connectors/github-resolve-repos-cq/config.test.json
  connectors/github-resolve-repos-cq/package.json
  connectors/github-resolve-repos-cq/src/index.ts
  connectors/github-resolve-repos-cq/src/main.ts
  connectors/github-resolve-repos-cq/src/plugin.ts
  connectors/github-resolve-repos-cq/src/resources/schemas/repository.json
  connectors/github-resolve-repos-cq/src/resources/spec.json
  connectors/github-resolve-repos-cq/src/spec.ts
  connectors/github-resolve-repos-cq/src/streams/get-org-repos.ts
  connectors/github-resolve-repos-cq/src/streams/getPath.ts
  connectors/github-resolve-repos-cq/src/streams/graphql-client.ts
  connectors/github-resolve-repos-cq/src/streams/index.ts
  connectors/github-resolve-repos-cq/src/streams/repositories.ts
  connectors/github-resolve-repos-cq/src/streams/unpaginate.ts
  connectors/github-resolve-repos-cq/src/tables.ts
  connectors/github-resolve-repos-cq/test.yml
  connectors/github-resolve-repos-cq/tsconfig.json
  connectors/oss-directory-cq/.eslintrc.json
  connectors/oss-directory-cq/README.md
  connectors/oss-directory-cq/config.test.json
  connectors/oss-directory-cq/package.json
  connectors/oss-directory-cq/src/index.ts
  connectors/oss-directory-cq/src/main.ts
  connectors/oss-directory-cq/src/plugin.ts
  connectors/oss-directory-cq/src/resources/spec.json
  connectors/oss-directory-cq/src/spec.ts
  connectors/oss-directory-cq/src/streams/artifacts.ts
  connectors/oss-directory-cq/src/streams/base.ts
  connectors/oss-directory-cq/src/streams/collections.ts
  connectors/oss-directory-cq/src/streams/index.ts
  connectors/oss-directory-cq/src/streams/projects.ts
  connectors/oss-directory-cq/src/tables.ts
  connectors/oss-directory-cq/test.yml
  connectors/oss-directory-cq/tsconfig.json
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

ignore cloudquery
  .gitignore
Due: none

fix issue with loading project input
  connectors/github-resolve-repos-cq/.eslintrc.json
  connectors/github-resolve-repos-cq/src/tables.ts
  connectors/oss-directory-cq/.eslintrc.json
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Include test configurations
  connectors/github-resolve-repos-cq/test.yml
  connectors/oss-directory-cq/test.yml
Due: none

Remove airbyte connectors
  connectors/github-resolve-repos/.eslintrc.json
  connectors/github-resolve-repos/README.md
  connectors/github-resolve-repos/package.json
  connectors/github-resolve-repos/src/index.ts
  connectors/github-resolve-repos/src/resources/schemas/repository.json
  connectors/github-resolve-repos/src/resources/spec.json
  connectors/github-resolve-repos/src/streams/get-org-repos.ts
  connectors/github-resolve-repos/src/streams/getPath.ts
  connectors/github-resolve-repos/src/streams/graphql-client.ts
  connectors/github-resolve-repos/src/streams/index.ts
  connectors/github-resolve-repos/src/streams/repositories.ts
  connectors/github-resolve-repos/src/streams/unpaginate.ts
  connectors/github-resolve-repos/tsconfig.json
  connectors/oss-directory/.eslintrc.json
  connectors/oss-directory/README.md
  connectors/oss-directory/config.test.json
  connectors/oss-directory/package.json
  connectors/oss-directory/src/index.ts
  connectors/oss-directory/src/resources/spec.json
  connectors/oss-directory/src/streams/artifacts.ts
  connectors/oss-directory/src/streams/base.ts
  connectors/oss-directory/src/streams/collections.ts
  connectors/oss-directory/src/streams/index.ts
  connectors/oss-directory/src/streams/projects.ts
  connectors/oss-directory/tsconfig.json
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Remove unnecessary copy pasted code
  connectors/oss-directory-cq/src/index.ts
  connectors/oss-directory-cq/src/main.ts
  connectors/oss-directory-cq/src/plugin.ts
  connectors/oss-directory-cq/src/streams/artifacts.ts
  connectors/oss-directory-cq/src/streams/base.ts
  connectors/oss-directory-cq/src/streams/collections.ts
  connectors/oss-directory-cq/src/streams/index.ts
  connectors/oss-directory-cq/src/streams/projects.ts
  connectors/oss-directory-cq/src/tables.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

remove -cq suffix for oss-directory plugin
  connectors/oss-directory/.eslintrc.json
  connectors/oss-directory/README.md
  connectors/oss-directory/config.test.json
  connectors/oss-directory/package.json
  connectors/oss-directory/src/main.ts
  connectors/oss-directory/src/plugin.ts
  connectors/oss-directory/src/resources/spec.json
  connectors/oss-directory/src/spec.ts
  connectors/oss-directory/src/tables.ts
  connectors/oss-directory/test.yml
  connectors/oss-directory/tsconfig.json
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Fix floating promise issue
  connectors/oss-directory/src/main.ts
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

more clean up
  connectors/oss-directory/src/resources/spec.json
Due: prettier --write

package clean up
  connectors/oss-directory/package.json
Due: prettier --write

update plugin readme
  connectors/oss-directory/README.md
Due: prettier --write

gh resolve readme update
  connectors/github-resolve-repos-cq/README.md
Due: prettier --write

clean up github cloudquery plugin
  connectors/github-resolve-repos-cq/package.json
  connectors/github-resolve-repos-cq/src/github/get-org-repos.ts
  connectors/github-resolve-repos-cq/src/github/getPath.ts
  connectors/github-resolve-repos-cq/src/github/repositories.ts
  connectors/github-resolve-repos-cq/src/github/unpaginate.ts
  connectors/github-resolve-repos-cq/src/index.ts
  connectors/github-resolve-repos-cq/src/main.ts
  connectors/github-resolve-repos-cq/src/plugin.ts
  connectors/github-resolve-repos-cq/src/resources/schemas/repository.json
  connectors/github-resolve-repos-cq/src/resources/spec.json
  connectors/github-resolve-repos-cq/src/streams/graphql-client.ts
  connectors/github-resolve-repos-cq/src/streams/index.ts
  connectors/github-resolve-repos-cq/src/tables.ts
  connectors/oss-directory/package.json
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

move github-resolve-repos plugin
  connectors/github-resolve-repos/.eslintrc.json
  connectors/github-resolve-repos/README.md
  connectors/github-resolve-repos/config.test.json
  connectors/github-resolve-repos/package.json
  connectors/github-resolve-repos/src/github/get-org-repos.ts
  connectors/github-resolve-repos/src/github/getPath.ts
  connectors/github-resolve-repos/src/github/repositories.ts
  connectors/github-resolve-repos/src/github/unpaginate.ts
  connectors/github-resolve-repos/src/main.ts
  connectors/github-resolve-repos/src/plugin.ts
  connectors/github-resolve-repos/src/spec.ts
  connectors/github-resolve-repos/src/tables.ts
  connectors/github-resolve-repos/test.yml
  connectors/github-resolve-repos/tsconfig.json
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

Reorganize directories
  cloudquery/README.md
  cloudquery/github-resolve-repos/.eslintrc.json
  cloudquery/github-resolve-repos/README.md
  cloudquery/github-resolve-repos/config.test.json
  cloudquery/github-resolve-repos/package.json
  cloudquery/github-resolve-repos/src/github/get-org-repos.ts
  cloudquery/github-resolve-repos/src/github/getPath.ts
  cloudquery/github-resolve-repos/src/github/repositories.ts
  cloudquery/github-resolve-repos/src/github/unpaginate.ts
  cloudquery/github-resolve-repos/src/main.ts
  cloudquery/github-resolve-repos/src/plugin.ts
  cloudquery/github-resolve-repos/src/spec.ts
  cloudquery/github-resolve-repos/src/tables.ts
  cloudquery/github-resolve-repos/test.yml
  cloudquery/github-resolve-repos/tsconfig.json
  cloudquery/oss-directory/.eslintrc.json
  cloudquery/oss-directory/README.md
  cloudquery/oss-directory/config.test.json
  cloudquery/oss-directory/package.json
  cloudquery/oss-directory/src/main.ts
  cloudquery/oss-directory/src/plugin.ts
  cloudquery/oss-directory/src/spec.ts
  cloudquery/oss-directory/src/tables.ts
  cloudquery/oss-directory/test.yml
  cloudquery/oss-directory/tsconfig.json
  package.json
  pnpm-workspace.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

fix pnpm lock
  pnpm-lock.yaml
Due: none

fix tests
  cloudquery/github-resolve-repos/.eslintrc.json
  cloudquery/github-resolve-repos/package.json
  cloudquery/oss-directory/.eslintrc.json
  cloudquery/oss-directory/package.json
Due: prettier --write

more test fixes
  cloudquery/github-resolve-repos/package.json
  cloudquery/oss-directory/package.json
Due: prettier --write

Cloudquery Plugins (#708)
  .dockerignore
  .gitignore
  cloudquery/README.md
  cloudquery/github-resolve-repos/.eslintrc.json
  cloudquery/github-resolve-repos/README.md
  cloudquery/github-resolve-repos/config.test.json
  cloudquery/github-resolve-repos/package.json
  cloudquery/github-resolve-repos/src/github/get-org-repos.ts
  cloudquery/github-resolve-repos/src/github/getPath.ts
  cloudquery/github-resolve-repos/src/github/repositories.ts
  cloudquery/github-resolve-repos/src/github/unpaginate.ts
  cloudquery/github-resolve-repos/src/main.ts
  cloudquery/github-resolve-repos/src/plugin.ts
  cloudquery/github-resolve-repos/src/spec.ts
  cloudquery/github-resolve-repos/src/tables.ts
  cloudquery/github-resolve-repos/test.yml
  cloudquery/github-resolve-repos/tsconfig.json
  cloudquery/oss-directory/.eslintrc.json
  cloudquery/oss-directory/README.md
  cloudquery/oss-directory/config.test.json
  cloudquery/oss-directory/package.json
  cloudquery/oss-directory/src/main.ts
  cloudquery/oss-directory/src/plugin.ts
  cloudquery/oss-directory/src/spec.ts
  cloudquery/oss-directory/src/tables.ts
  cloudquery/oss-directory/test.yml
  cloudquery/oss-directory/tsconfig.json
  docker/deploy-connector.sh
  docker/ts-connector.Dockerfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --ignore-path .gitignore --max-warnings 0, prettier --write

blog: results from retropgf3
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/01 - coinmarketcap.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/02 - rpgf3_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/03 - rpgf3_allocation_bottom.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/04 - rpgf2_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/05 - oso_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/06a - github_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/06b - github_tree.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/07 - npm_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/08a - onchain_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/08b - onochain_tree.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/09 - media_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/10 - dune_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/11 - individuals_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/12a - other_projects_tree.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/12b - other_projects_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/13 - teamsize_dist.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/14 - impact_vectors.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/15 - vector_ranks.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/index.md
Due: prettier --write

blog: results from retropgf3 (#744)
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/01 - coinmarketcap.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/02 - rpgf3_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/03 - rpgf3_allocation_bottom.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/04 - rpgf2_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/05 - oso_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/06a - github_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/06b - github_tree.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/07 - npm_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/08a - onchain_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/08b - onochain_tree.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/09 - media_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/10 - dune_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/11 - individuals_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/12a - other_projects_tree.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/12b - other_projects_allocation.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/13 - teamsize_dist.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/14 - impact_vectors.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/15 - vector_ranks.png
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/index.md
Due: prettier --write

fix: minor edit
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/index.md
Due: prettier --write

Starting dbt transforms
  dbt/.gitignore
  dbt/README.md
  dbt/analyses/.gitkeep
  dbt/dbt_project.yml
  dbt/macros/.gitkeep
  dbt/models/artifacts.sql
  dbt/models/github_events.sql
  dbt/models/github_sources.yml
  dbt/poetry.lock
  dbt/pyproject.toml
  dbt/seeds/.gitkeep
  dbt/snapshots/.gitkeep
  dbt/tests/.gitkeep
Due: prettier --write

Starting dbt transforms (#745)
  dbt/.gitignore
  dbt/README.md
  dbt/analyses/.gitkeep
  dbt/dbt_project.yml
  dbt/macros/.gitkeep
  dbt/models/artifacts.sql
  dbt/models/github_events.sql
  dbt/models/github_sources.yml
  dbt/poetry.lock
  dbt/pyproject.toml
  dbt/seeds/.gitkeep
  dbt/snapshots/.gitkeep
  dbt/tests/.gitkeep
Due: prettier --write

Update README.md
  dbt/README.md
Due: prettier --write

Update README.md (#746)
  dbt/README.md
Due: prettier --write

fix: headers
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/index.md
Due: prettier --write

Fix blog (#748)
  docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/index.md
Due: prettier --write

Update README.md (#753)
  dbt/README.md
Due: prettier --write

remove package reference in poetry
  dbt/pyproject.toml
Due: none

remove package reference in poetry (#754)
  dbt/pyproject.toml
Due: none

blog: data scientists post
  docs/blog/2024-01-22-impact-data-scientists.mdx
Due: none

fix: blog links
  docs/blog/2024-01-22-impact-data-scientists.mdx
Due: none
