Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: frontend queries to use new schema on the API v1
  .github/workflows/ci-default.yml
  apps/frontend/app/artifact/[source]/[...name]/page.tsx
  apps/frontend/app/project/[...name]/page.tsx
  apps/frontend/components/dataprovider/event-data-provider.tsx
  apps/frontend/lib/graphql/cached-queries.ts
  apps/frontend/lib/graphql/queries.ts
  apps/frontend/lib/paths.ts
Due: none

fix: frontend queries to use new schema (#1338)
  .github/workflows/ci-default.yml
  apps/frontend/app/artifact/[source]/[...name]/page.tsx
  apps/frontend/app/project/[...name]/page.tsx
  apps/frontend/components/dataprovider/event-data-provider.tsx
  apps/frontend/lib/graphql/cached-queries.ts
  apps/frontend/lib/graphql/queries.ts
  apps/frontend/lib/paths.ts
Due: none

Update dag associations with production dbt
  warehouse/dbt/models/superchain_sources.yml
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/gcs.py
  warehouse/oso_dagster/goldsky.py
  warehouse/oso_dagster/schedules.py
Due: none

fix: date to time
  warehouse/dbt/models/marts/superchain/rf4_trusted_users.sql
  warehouse/dbt/models/staging/karma3/stg_karma3__globaltrust.sql
  warehouse/dbt/models/staging/karma3/stg_karma3__localtrust.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

v0 implementation of eigentrust for trusted user model (#1495)
  warehouse/dbt/models/karma3_sources.yml
  warehouse/dbt/models/marts/superchain/rf4_trusted_users.sql
  warehouse/dbt/models/staging/karma3/stg_karma3__globaltrust.sql
  warehouse/dbt/models/staging/karma3/stg_karma3__localtrust.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Fixes deployer assocations
  warehouse/dbt/macros/models/factory_deployments.sql
  warehouse/dbt/macros/models/filtered_blockchain_events.sql
  warehouse/dbt/models/staging/optimism/stg_optimism__factories.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix plaground filtering
  warehouse/dbt/macros/models/factory_deployments.sql
  warehouse/dbt/models/intermediate/blockchain/int_optimism_contract_invocation_events.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix plaground filtering ref
  warehouse/dbt/macros/models/factory_deployments.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Fixes deployer assocations (#1501)
  warehouse/dbt/macros/models/factory_deployments.sql
  warehouse/dbt/macros/models/filtered_blockchain_events.sql
  warehouse/dbt/models/intermediate/blockchain/int_optimism_contract_invocation_events.sql
  warehouse/dbt/models/staging/optimism/stg_optimism__factories.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

docs: update README
  README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: fix frontend pages to use API v1
  apps/frontend/app/artifact/[source]/[...name]/page.tsx
  apps/frontend/app/project/[...name]/page.tsx
Due: none

docs: update README (#1503)
  README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: docs build
  apps/docs/.env.local.example
  apps/docs/package.json
  apps/docs/plasmic.json
  apps/docs/plasmic.lock
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: fix frontend pages to use API v1 (#1505)
  apps/frontend/app/artifact/[source]/[...name]/page.tsx
  apps/frontend/app/project/[...name]/page.tsx
Due: none

fix: docs build (#1506)
  apps/docs/.env.local.example
  apps/docs/package.json
  apps/docs/plasmic.json
  apps/docs/plasmic.lock
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: hide log10 metrics
  warehouse/dbt/models/marts/superchain/rf4_impact_metrics_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

docs: add a top level build command for dbt docs
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

smol updates to RF4 impact metrics (#1498)
  apps/docs/blog/2024-05-16-impact-metrics-rf4/index.md
  warehouse/dbt/models/marts/superchain/metrics/rf4_daily_active_addresses.sql
  warehouse/dbt/models/marts/superchain/metrics/rf4_monthly_active_addresses.sql
  warehouse/dbt/models/marts/superchain/metrics/rf4_recurring_addresses.sql
  warehouse/dbt/models/marts/superchain/metrics/rf4_trusted_users_onboarded.sql
  warehouse/dbt/models/marts/superchain/rf4_impact_metrics_by_project.sql
  warehouse/dbt/models/marts/superchain/rf4_impact_metrics_by_project__schema.yml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

docs: add a top level build command for dbt docs (#1507)
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Add prsync
  .github/workflows/pysync.yml
Due: none

Add workflow permission
  .github/workflows/prsync.yml
Due: none

Ad prsync
  .gitignore
  .prsync/foo
  prsync.py
Due: none

Add git username
  .github/workflows/prsync.yml
Due: none

Add workflow
  .githubprsyncer/.github/workflows/recce-ci.yml
Due: none

Add PAT
  .github/workflows/prsync.yml
Due: none

Update the ci
  .github/workflows/recce-prsync.yml
  .githubprsyncer/.github/workflows/recce-ci.yml
  .githubprsyncer/profiles.yml
  .prsync/foo
  prsync.py
Due: none

Add manual trigger
  .githubprsyncer/.github/workflows/recce-ci.yml
Due: none

update figure to remove slug reference
  apps/docs/docs/how-oso-works/1_oss_directory.png
Due: none

add: artifact_source to artifacts_by_project_v1
  warehouse/dbt/models/marts/directory/artifacts_by_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

fix: hide rows with no metrics
  warehouse/dbt/models/intermediate/metrics/int_code_metrics_by_project.sql
  warehouse/dbt/models/intermediate/metrics/int_onchain_metrics_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Adds all dbt targets as well
  dbt_project.yml
  warehouse/dbt/models/playground_sources.yml
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/schedules.py
Due: none

Ensures factory deployers and deployers are separated
  warehouse/dbt/models/intermediate/blockchain/int_derived_contracts.sql
  warehouse/dbt/models/intermediate/directory/int_artifacts_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Ensures factory deployers and deployers are separated (#1511)
  warehouse/dbt/models/intermediate/blockchain/int_derived_contracts.sql
  warehouse/dbt/models/intermediate/directory/int_artifacts_by_project.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Dagster: Fixes dag associations (#1510)
  dbt_project.yml
  warehouse/dbt/models/playground_sources.yml
  warehouse/dbt/models/superchain_sources.yml
  warehouse/oso_dagster/assets.py
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/gcs.py
  warehouse/oso_dagster/goldsky.py
  warehouse/oso_dagster/schedules.py
Due: none

Dagster: Fix handling of target paths
  ops/k8s-apps/base/dagster/dagster.yaml
  warehouse/oso_dagster/constants.py
Due: none

Dagster-Dbt: Fix handling of target paths (#1514)
  ops/k8s-apps/base/dagster/dagster.yaml
  warehouse/oso_dagster/constants.py
Due: none

minor fixes to mart models (#1509)
  warehouse/dbt/models/intermediate/metrics/int_code_metrics_by_project.sql
  warehouse/dbt/models/intermediate/metrics/int_onchain_metrics_by_project.sql
  warehouse/dbt/models/marts/directory/artifacts_by_project_v1.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

rf4: updates to eigentrust models
  warehouse/dbt/models/marts/superchain/rf4_events_daily_to_project.sql
  warehouse/dbt/models/marts/superchain/rf4_trusted_users.sql
  warehouse/dbt/models/staging/karma3/stg_karma3__globaltrust.sql
  warehouse/dbt/models/staging/karma3/stg_karma3__localtrust.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run sqlfluff fix -f --dialect bigquery: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint --dialect bigquery: any of: warehouse/dbt/**/*.sql
