Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f --dialect bigquery",
    "poetry run sqlfluff lint --dialect bigquery"
  ]
}

Update gh workflows to use new namespacing
  .github/workflows/external-prs-handle-comment.yml
  .github/workflows/refresh-test-credentials.yml
  .github/workflows/test-deploy-clean.yml
  .github/workflows/test-deploy-owners.yml
  .github/workflows/test-deploy/action.yml
Due: none

Update external prs app to handle `ossd` PR validation (#1182)
  .github/workflows/external-prs-handle-comment.yml
  .github/workflows/refresh-test-credentials.yml
  .github/workflows/test-deploy-clean.yml
  .github/workflows/test-deploy-owners.yml
  .github/workflows/test-deploy/action.yml
  ops/external-prs/README.md
  ops/external-prs/package.json
  ops/external-prs/src/base.ts
  ops/external-prs/src/cli.ts
  ops/external-prs/src/github.ts
  ops/external-prs/src/index.ts
  ops/external-prs/src/oso/deploy.ts
  ops/external-prs/src/oso/index.ts
  ops/external-prs/src/ossd/compare.ts
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/test.out
  ops/external-prs/test_profiles.yaml
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

bq2cloudsql: support copying booleans (#1190)
  warehouse/bq2cloudsql/synchronizer.py
Due: none

add: challenge to category index
  apps/docs/docs/contribute/challenges/index.mdx
Due: none

add: challenge to category index (#1191)
  apps/docs/docs/contribute/challenges/index.mdx
Due: none

Fix the refresh-test-credentials pipeline
  .github/workflows/refresh-test-credentials.yml
Due: none

Fix the refresh-test-credentials pipeline (#1195)
  .github/workflows/refresh-test-credentials.yml
Due: none

Setup the comparisons for the ossd PRs
  ops/external-prs/package.json
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/queries/blockchain_artifacts.sql
  ops/external-prs/src/ossd/queries/blockchain_status.sql
  ops/external-prs/src/ossd/queries/changed_blockchain_artifacts.sql
  ops/external-prs/src/ossd/queries/changed_blockchain_artifacts_to_validate.sql
  ops/external-prs/src/ossd/queries/changed_code_artifacts.sql
  ops/external-prs/src/ossd/queries/changed_package_artifacts.sql
  ops/external-prs/src/ossd/queries/changed_projects.sql
  ops/external-prs/src/ossd/queries/code_artifacts.sql
  ops/external-prs/src/ossd/queries/code_status.sql
  ops/external-prs/src/ossd/queries/package_artifacts.sql
  ops/external-prs/src/ossd/queries/package_status.sql
  ops/external-prs/src/ossd/queries/project_status.sql
  ops/external-prs/src/ossd/queries/project_summary.sql
  ops/external-prs/src/ossd/queries/projects_by_collection.sql
  ops/external-prs/src/ossd/queries/projects_by_collection_status.sql
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

update
  pnpm-lock.yaml
Due: none

Setup the comparisons for the ossd PRs (#1210)
  ops/external-prs/package.json
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/queries/blockchain_artifacts.sql
  ops/external-prs/src/ossd/queries/blockchain_status.sql
  ops/external-prs/src/ossd/queries/changed_blockchain_artifacts.sql
  ops/external-prs/src/ossd/queries/changed_blockchain_artifacts_to_validate.sql
  ops/external-prs/src/ossd/queries/changed_code_artifacts.sql
  ops/external-prs/src/ossd/queries/changed_package_artifacts.sql
  ops/external-prs/src/ossd/queries/changed_projects.sql
  ops/external-prs/src/ossd/queries/code_artifacts.sql
  ops/external-prs/src/ossd/queries/code_status.sql
  ops/external-prs/src/ossd/queries/package_artifacts.sql
  ops/external-prs/src/ossd/queries/package_status.sql
  ops/external-prs/src/ossd/queries/project_status.sql
  ops/external-prs/src/ossd/queries/project_summary.sql
  ops/external-prs/src/ossd/queries/projects_by_collection.sql
  ops/external-prs/src/ossd/queries/projects_by_collection_status.sql
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Running validations and sending errors to PR
  apps/oss-artifact-validators/src/common/config.ts
  apps/oss-artifact-validators/src/index.ts
  apps/oss-artifact-validators/src/onchain/evm.ts
  apps/oss-artifact-validators/test/test.ts
  ops/external-prs/package.json
  ops/external-prs/src/base.ts
  ops/external-prs/src/checks.ts
  ops/external-prs/src/cli.ts
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/messages/list-changes.md
  ops/external-prs/src/ossd/messages/validation-errors.md
  ops/external-prs/src/ossd/queries/artifacts_summary.sql
  ops/external-prs/src/ossd/queries/changed_blockchain_artifacts_to_validate.sql
  ops/external-prs/src/ossd/queries/unchanged_projects.sql
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add creds for oss-directory
  .github/workflows/refresh-test-credentials.yml
Due: none

consolidate creds
  .github/workflows/refresh-test-credentials.yml
Due: none

fix
  .github/workflows/refresh-test-credentials.yml
Due: none

Add creds for oss-directory (#1218)
  .github/workflows/refresh-test-credentials.yml
Due: none

update lock file
  pnpm-lock.yaml
Due: none

Running validations and send errors to PR (#1216)
  apps/oss-artifact-validators/src/common/config.ts
  apps/oss-artifact-validators/src/index.ts
  apps/oss-artifact-validators/src/onchain/evm.ts
  apps/oss-artifact-validators/test/test.ts
  ops/external-prs/package.json
  ops/external-prs/src/base.ts
  ops/external-prs/src/checks.ts
  ops/external-prs/src/cli.ts
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/messages/list-changes.md
  ops/external-prs/src/ossd/messages/validation-errors.md
  ops/external-prs/src/ossd/queries/artifacts_summary.sql
  ops/external-prs/src/ossd/queries/changed_blockchain_artifacts_to_validate.sql
  ops/external-prs/src/ossd/queries/unchanged_projects.sql
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix test-deploy-owners
  .github/workflows/test-deploy-owners.yml
Due: none

fix test-deploy-owners (#1219)
  .github/workflows/test-deploy-owners.yml
Due: none

reorder urls
  ops/external-prs/src/ossd/index.ts
Due: none

parse validation command
  ops/external-prs/package.json
  ops/external-prs/src/base.ts
  ops/external-prs/src/github.ts
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/utils/error.ts
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

oss-directory additional mappings for PR validation (#1220)
  ops/external-prs/package.json
  ops/external-prs/src/base.ts
  ops/external-prs/src/github.ts
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/utils/error.ts
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Add correct status check to oss-directory
  ops/external-prs/src/base.ts
  ops/external-prs/src/ossd/index.ts
Due: none

Add correct status check to oss-directory (#1221)
  ops/external-prs/src/base.ts
  ops/external-prs/src/ossd/index.ts
Due: none

Support setting memory limits for duckdb
  ops/external-prs/src/ossd/index.ts
Due: none

Allow setting memory limit for duckdb (#1222)
  ops/external-prs/src/ossd/index.ts
Due: none

Fix mem limit setting
  ops/external-prs/src/ossd/index.ts
Due: none

Properly set memory limits (#1223)
  ops/external-prs/src/ossd/index.ts
Due: none

Add docs for adding postgres datasource
  apps/docs/docs/contribute/connect-data.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

small fixes
  apps/docs/docs/contribute/connect-data.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Docs: Adding a meltano postgres connection (#1226)
  apps/docs/docs/contribute/connect-data.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Typos fix in connect-data.md
  apps/docs/docs/contribute/connect-data.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fixes deployer lookup tables from the google blockchain public datasets
  warehouse/dbt/macros/models/goog_blockchain_deployers.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Add comment
  warehouse/dbt/macros/models/goog_blockchain_deployers.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Fixes deployer lookup tables from the google blockchain public datasets (#1230)
  warehouse/dbt/macros/models/goog_blockchain_deployers.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

Wire together arbitrum checks
  ops/external-prs/src/cli.ts
  ops/external-prs/src/ossd/index.ts
Due: none

Wire together arbitrum checks (#1231)
  ops/external-prs/src/cli.ts
  ops/external-prs/src/ossd/index.ts
Due: none

Typos fix in connect-data.md (#1227)
  apps/docs/docs/contribute/connect-data.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: int model for project owners
  warehouse/dbt/models/intermediate/directory/int_project_owners.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery

add: int model for project owners (#1238)
  warehouse/dbt/models/intermediate/directory/int_project_owners.sql
Due: poetry run sqlfluff fix -f --dialect bigquery, poetry run sqlfluff lint --dialect bigquery
